<div data-role="view" data-title="Contact Details" data-layout="main-nonav" data-model="app.contact" data-show="app.contact.onShow" data-after-show="app.contact.afterShow">
    <!-- START_CUSTOM_CODE_contact -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div>
        <form id="updateContactDetailsForm" class="form-view">
            <ul id="fieldlist" class="form-content" data-role="listview" data-style="inset">
                <li>
                    <label class="required">Tel No</label>
                    <input name="telephone" id="telephoneupd" data-bind="value: contactModel.personData.contactDetails[0].contactDetail" type="tel" pattern="\d{10}" required validationMessage="Enter at least ten digits">
                </li>
                <li>
                    <label class="required">Cell No</label>
                    <input name="cellphone" id="cellphoneupd" data-bind="value: contactModel.personData.contactDetails[2].contactDetail" type="tel" pattern="\d{10}" required validationMessage="Enter at least ten digits">
                </li>
                <li>
                    <label class="required">Email</label>
                    <input name="emailaddress" id="emailaddressupd" data-bind="value: contactModel.personData.contactDetails[1].contactDetail" type="email" required validationMessage="Enter a valid email address please">
                </li>
            </ul>
            <div class="button-group">
                <a data-role="button" data-bind="events: { click: contactModel.cancel }">Cancel</a>
                <a data-role="button" data-bind="events: { click: contactModel.confirm }">Confirm</a>
            </div>
        </form>
        <script>
            var validator = $("#updateContactDetailsForm").kendoValidator().data("kendoValidator"),
                status = $(".status");
        </script>
        <hr>
    </div>
    <!-- END_CUSTOM_CODE_contact -->
</div>