<div data-role="view" data-title="EasyPay FS" data-layout="main" data-model="app.contactUs" data-show="app.contactUs.onShowEasyPayFreestate" data-after-show="app.contactUs.afterShowEasyPayFreestate">
    <!-- START_CUSTOM_CODE_contactUs -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <ul id="filterable-listview-easypay-freestate" data-role="listview" data-style="inset" class="form-content" data-click="app.contactUs.contactUsModel.shareOutletsFreestate"></ul>
    <script type="text/x-kendo-tmpl" id="mobile-listview-filtering-template-easypay-freestate">
        <h4>#:Town# <a style="float:right"><img src="data/images/icon/share.png" width="20px" height="20px"></a></h4>
        <hr width="90%">
        <h5>#:StreetAddress#</h5>
        <h5>#:VendingOutletName#</h5>
        <h5>#:ContactPerson#</h5>
        <h5>#:ContactNumber#</h5>
    </script>
</div>