<div data-role="view" data-title="Branches" data-layout="main" data-model="app.contactUs" data-show="app.contactUs.onShowBranchLocations" data-after-show="app.contactUs.afterShowBranchLocations">
    <!-- START_CUSTOM_CODE_contactUs -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div id="contactUsModel">
        <ul id="filterable-listview-branches" data-role="listview" data-style="inset" class="form-content"></ul>
        <script type="text/x-kendo-tmpl" id="mobile-listview-filtering-template-branches">
            <h4>#:branchName# <span style="float:right"><a><img src="data/images/icon/share.png" width="20px" height="20px"/></a></span></h4>
            <hr width="90%">
            <h5>#:telNo#</h5>
            <h5>#:physicalAddress#</h5>
        </script>
    </div>
</div>