<div data-role="view" data-title="Contact Us" data-layout="main" data-model="app.contactUs" data-show="app.contactUs.onShow" data-after-show="app.contactUs.afterShow">
    <div id="contactUsModel">
        <div style="padding:0px; margin:0px">
            <center>
                <img src="data/images/homeScreen/miplife_home_screen.png" height="auto" width="80%" style="margin: 0px;">
            </center>
        </div>
        <div class="button-group">
            <a data-role="button" class="primary" data-bind="events: { click: contactUsModel.viewBranches }">Covision Branches</a>
        </div>
        <div class="button-group">
            <a data-role="button" class="primary" data-bind="events: { click: contactUsModel.viewEasyPayVaal }">EasyPay Outlets Vaal</a>
        </div>
        <div class="button-group">
            <a data-role="button" class="primary" data-bind="events: { click: contactUsModel.viewEasyPayFreeState }">EasyPay Outlets Freestate</a>
        </div>
    </div>
</div>