<div data-role="view" data-title="Home View" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <div id="homeModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <label class="km-label-above"> 
                        <span>Policy Number</span>
                        <input data-bind="value: homeModel.fields.policyNumber" placeholder="Pol Number" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Phone</span>
                        <input data-bind="value: homeModel.fields.tel" placeholder="+27 72 123 123" type="tel">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Checkbox</span>
                        <input data-bind="value: homeModel.fields.checkbox" type="checkbox">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Drop Down</span>
                        <select data-bind="value: homeModel.fields.dropdownlist" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label> 
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Date</span>
                        <input data-bind="value: homeModel.fields.date" type="date">
                    </label>
                </li>
            </ul>
            <div class="button-group">
                <a data-role="button" data-bind="events: { click: homeModel.cancel }">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: homeModel.submit }">Confirm</a>
            </div>
        </form>
    </div>
</div>