<div data-role="view" data-title="Logout" data-layout="main-nonav" data-model="app.logout" data-show="app.logout.onShow" data-after-show="app.logout.afterShow">
    <div id="logoutModel" class="form-view">
        <div style="padding:0px; margin:0px">
            <center>
                <img src="data/images/homeScreen/covision_home_screen.png" height="auto" width="95%" style="margin: 0px;">
            </center>
        </div>
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
            </ul>

            <div class="button-group">
                <a class="primary" data-role="button" data-bind="events: { click: logoutModel.submit }">Logout</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_logoutModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_logoutModel -->
    </div>

    <!-- START_CUSTOM_CODE_logout -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_logout -->
</div>