<div data-role="view" data-title="Get a quote" data-layout="main" data-model="app.quote" data-show="app.quote.onShow" data-after-show="app.quote.afterShow">
    <div id="quoteModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="list-header">
                    <h4>Main Insured</h4>
                </li>
                <li class="form-content-item">
                    <label for="select-main-cover" class="km-label-above">
                            <span>Cover Amount:</span>
                            <select name="select-main-cover" id="select-main-cover" onchange="selectMainChange()" data-bind="value: quoteModel.fields.mainCoverAmount" data-native-menu="true">
                                <option value="" data-placeholder="true"></option> 
                                <option value="50000">R 50 000</option>
                                <option value="45000">R 45 000</option>
                                <option value="40000">R 40 000</option>
                                <option value="35000">R 35 000</option> 
                                <option value="30000">R 30 000</option>
                                <option value="25000">R 25 000</option>
                                <option value="20000">R 20 000</option>
                                <option value="15000">R 15 000</option>
                                <option value="10000">R 10 000</option>
                                <option value="5000">R 5 000</option>
                            </select>
                        </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Date of birth:</span>
                        <input id="select-main-dob" type="date" value="" style="width: 100%" data-bind="value: quoteModel.fields.mainDOB">
                    </label>
                </li>
            </ul>


            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="list-header">
                    <h4>Add Family</h4>
                </li>
                <li class="form-content-item">
                    <label for="select-partner-cover" class="km-label-above">
                        <span>Cover Amount:</span>
                        <select name="select-partner-cover" id="select-partner-cover" data-native-menu="true" onchange="selectPartnerChange()">
                            <option value="" data-placeholder="true"></option>   
                            <option value="50000">R 50 000</option>
                            <option value="45000">R 45 000</option>
                            <option value="40000">R 40 000</option>
                            <option value="35000">R 35 000</option>
                            <option value="30000">R 30 000</option>
                            <option value="25000">R 25 000</option>
                            <option value="20000">R 20 000</option>
                            <option value="15000">R 15 000</option>
                            <option value="10000">R 10 000</option>
                            <option value="5000">R 5 000</option>        
                        </select>
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Partner/Spouse Date of Birth:</span>
                        <input id="select-partner-dob" type="date" value="" style="width: 100%" data-bind="value: quoteModel.fields.partnerDOB">
                    </label>
                </li>
                <li class="form-content-item" style="border-bottom: none;">
                    <label class="km-label-above">
                        <span>Child Date of Birth:</span>
                        <input id="select-child-dob" value="" type="date" style="width: 100%">
                    </label>
                </li>
                <li id="childThings" class="form-content-item " style="border-bottom: none ">
                    <a data-role="button " data-bind="events: { click: quoteModel.addChild } " style="float:right; padding-right: 25px ">
                        <label>Add Child</label>
                    </a>
                </li>
                <li id="childThings">
                    <table style="width: 100%; " id="child-list" cellspacing="0px">
                    </table>
                </li>
            </ul>

            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="list-header">
                    <h4>Add Parent</h4>
                </li>
                <li class="form-content-item">
                    <label for="select-parent-cover" class="km-label-above">
                            <span>Cover Amount:</span>
                            <select name="select-parent-cover" id="select-parent-cover" data-native-menu="true">
                             <option value="" data-placeholder="true"></option> 
                                <option value="20000">R20 000</option>
                                <option value="19000">R19 000</option>
                                <option value="18000">R18 000</option>
                                <option value="17000">R17 000</option>
                                <option value="16000">R16 000</option>
                                <option value="15000">R15 000</option>
                                <option value="14000">R14 000</option>
                                <option value="13000">R13 000</option>
                                <option value="12000">R12 000</option>
                                <option value="11000">R11 000</option>
                                <option value="10000">R10 000</option>
                                <option value="9000">R9 000</option>
                                <option value="8000">R8 000</option>
                                <option value="7000">R7 000</option>
                                <option value="6000">R6 000</option>
                                <option value="5000">R5 000</option>
                                <option value="4000">R4 000</option>
                                <option value="3000">R3 000</option>
                                <option value="2000">R2 000</option>
                                <option value="1000">R1 000</option>         
                            </select>
                        </label>
                </li>
                <li class="form-content-item" style="border-bottom: none">
                    <label class="km-label-above">
                            <span>Date of Birth:</span>
                            <input id="select-parent-dob" value="" type="date" style="width: 100%">
                        </label>
                </li>
                <li class="form-content-item" style="border-bottom: none">
                    <a data-role="button" style="float:right; padding-right: 25px" data-bind="events: { click: quoteModel.addParent }">
                        <label>Add Parent</label>
                    </a>
                </li>
                <li>
                    <table style="width: 100%;" id="parent-list" cellspacing="0px">
                    </table>
                </li>
            </ul>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="list-header">
                    <h4>Add Extended Family Member</h4>
                </li>
                <li class="form-content-item">
                    <label for="select-extended-cover" class="km-label-above">
                            <span>Cover Amount:</span>
                            <select name="select-extended-cover" id="select-extended-cover" data-native-menu="true">
                                <option value="" data-placeholder="true"></option> 
                                <option value="10000">R10 000</option>
                                <option value="9000">R9 000</option>
                                <option value="8000">R8 000</option>
                                <option value="7000">R7 000</option>
                                <option value="6000">R6 000</option>
                                <option value="5000">R5 000</option>
                                <option value="4000">R4 000</option>
                                <option value="3000">R3 000</option>
                                <option value="2000">R2 000</option>
                                <option value="1000">R1 000</option> 
                            </select>
                        </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                            <span>Date of Birth:</span>
                            <input id="select-extended-dob" value="" type="date" style="width: 100%">
                        </label>
                </li>
                <li class="form-content-item" style="border-bottom: none">
                    <label for="select-extended-relation" class="km-label-above">
                            <span>Relationship:</span>
                            <select name="select-extended-relation" id="select-extended-relation" data-native-menu="true">
                                <option value="" data-placeholder="true"></option>
                                <option value="uncle">Uncle</option>
                                <option value="aunt">Aunt</option>
                                <option value="niece">Niece</option>
                                <option value="nephew">Nephew</option>
                                <option value="adult child">Adult Child</option>
                                <option value="brother">Sister</option>
                                <option value="sister">Brother</option>
                                <option value="additional partner">Additional Partner</option>
                            </select>
                        </label>
                </li>
                <li class="form-content-item" style="border-bottom: none">
                    <a data-role="button" style="float:right; padding-right: 25px" data-bind="events: { click: quoteModel.addExtendedMember }">
                        <label>Add Extended Member</label>
                    </a>
                </li>
                <li>
                    <table style="width: 100%;" id="extended-list" cellspacing="0px">
                    </table>
                </li>
            </ul>
            <div class="button-group">
                <a data-role="button" data-bind="events: { click: quoteModel.getQuote } ">Get Quote</a>
            </div>
        </form>
    </div>
    <script>
        var fromPartner;

        function selectMainChange() {
            $("#select-partner-cover").empty();

            $("#select-parent-cover").empty();
            $("#select-extended-cover").empty();

            var mainAmt = $("#select-main-cover").val();

            console.log("mainAmt");
            console.log(mainAmt);
            console.log(typeof mainAmt);

            var spouseAmt = ["", 50000, 45000, 40000, 35000, 30000, 25000, 20000, 15000, 10000, 5000];
            var childAmt = ["", 20000, 15000, 10000, 5000];
            var parentAmt = ["", 20000, 19000, 18000, 17000, 16000, 15000, 14000, 13000, 12000, 11000, 10000, 9000, 8000, 7000, 6000, 5000, 4000, 3000, 2000, 1000];
            var extmemberAmt = ["", 10000, 9000, 8000, 7000, 6000, 5000, 4000, 3000, 2000, 1000];

            // First set the cover amounts available for the spouse

            for (var i = 0; i < spouseAmt.length; i++) {
                console.log(parseInt(spouseAmt[i]) + " ---- " + parseInt(mainAmt));
                if (spouseAmt[i] <= mainAmt) {
                    if (spouseAmt[i] == "") {
                        $("#select-partner-cover").append('<option value="' + spouseAmt[i] + '"></option>');
                    } else {
                        $("#select-partner-cover").append('<option value="' + spouseAmt[i] + '">R ' + spouseAmt[i] + '</option>');
                    }
                }
            }
            if (fromPartner !== true) {
                $("#select-child-cover").empty();
                for (var i = 0; i < childAmt.length; i++) {
                    if (childAmt[i] <= mainAmt) {
                        if (childAmt[i] == "") {
                            $("#select-child-cover").append('<option value="' + childAmt[i] + '"></option>');
                        } else {
                            $("#select-child-cover").append('<option value="' + childAmt[i] + '">R ' + childAmt[i] + '</option>');
                        }
                    }
                }
                fromPartner = false;
            }

            for (var i = 0; i < parentAmt.length; i++) {
                if (parentAmt[i] <= mainAmt) {
                    if (parentAmt[i] == "") {
                        $("#select-parent-cover").append('<option value="' + parentAmt[i] + '"></option>');
                    } else {
                        $("#select-parent-cover").append('<option value="' + parentAmt[i] + '">R ' + parentAmt[i] + '</option>');
                    }
                }
            }

            for (var i = 0; i < extmemberAmt.length; i++) {
                if (extmemberAmt[i] <= mainAmt) {
                    if (extmemberAmt[i] == "") {
                        $("#select-extended-cover").append('<option value="' + extmemberAmt[i] + '"></option>');
                    } else {
                        $("#select-extended-cover").append('<option value="' + extmemberAmt[i] + '">R ' + extmemberAmt[i] + '</option>');
                    }
                }
            }
        }

        function selectPartnerChange() {
            $("#select-child-cover").empty();

            var childAmt2 = ["", 20000, 15000, 10000, 5000],
                partnerAmt2 = parseInt($("#select-partner-cover").val());
            fromPartner = true;

            for (var i = 0; i < childAmt2.length; i++) {
                console.log("typeof : " + typeof childAmt2[i]);
                if (childAmt2[i] <= partnerAmt2) {
                    if (childAmt2[i] == "") {
                        $("#select-child-cover").append('<option value="' + childAmt2[i] + '"></option>');
                    } else {
                        $("#select-child-cover").append('<option value="' + childAmt2[i] + '">R ' + childAmt2[i] + '</option>');
                    }
                }
            }
            // fromPartner = true;
            // selectMainChange();
        }
    </script>
</div>