<div data-role="view" data-title="Review quote" data-layout="rotatable" data-model="app.quote" data-show="app.quote.onShowAccept" data-after-show="app.quote.afterShowAccept">
    <div id="acceptQuoteModel" class="form-view">
        <form>
            <center>
                <h4>Your chosen cover will only cost you</h4>
                <h1>
                    R <span data-bind="text: quoteModel.quoteDataJSON.rqResponse.contractQuotationResponse.contract[0].contractPremium"></span>
                </h1>
                <hr width="75%" color="#006652">
                <h4>every month</h4>
            </center>
            <ul data-role="listview" data-style="inset">
                <li>
                    <table style="width: 100%; font-size: 12px;" cellspacing="0px">
                        <thead id="tHeaderCoveredBenefits">
                            <tr class='bold headingsDiv' style='padding-bottom:10px'>
                                <td class='claimsTableBorder'>Description</td>
                                <td class='claimsTableBorder' style="text-align: right">Premium</td>
                                <td class='claimsTableBorder' style="text-align: right">Cover Amount</td>
                            </tr>
                        </thead>
                        <tbody id="currentCoveredBenefits">
                            <tr class='bold' style='padding-bottom:10px'>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <script id="templateCoveredBenefits" type="text/x-kendo-template">
                    <tr style='padding-bottom:10px;'>
                        <td>#= coveredBenefitLabel #</td>
                        <td style="text-align: right">#= premium #</td>
                        <td style="text-align: right">R #= sumAssured #</td>
                    </tr>
                </script>
            </ul>
            <div class="button-group">
                <a data-role="backbutton">Decline</a>
                <a data-role="button" data-bind="events: { click: quoteModel.acceptQuote }">Accept</a>
            </div>
        </form>
    </div>
</div>
