<div data-role="view" data-title="Life Insurance" data-layout="main" data-model="app.lifeInsurance" data-show="app.lifeInsurance.onShow" data-after-show="app.lifeInsurance.afterShow">

    <div class="contact-us">
        <h2>
            Life Insurance
        </h2>
        <p>Life Insurance gives you peace of mind, knowing you're doing everything to
            provide for your loved ones when you're no longer able to.</p>

        <p>With this life cover plan, your beneficiaries are paid out a tax-free lump
            sum upon your death.</p>

        <div>
            <div align="center">
                <!-- Promo -->
                <div class="focus-box">
                    <h3>Key Benefits</h3>
                    <ul>
                        <li>Offers cover from R50 000 to R200 000</li>
                        <li>The first R20 000 will be paid out within 48 hours to help with funeral expenses</li>
                        <li>No blood tests, medical test or paperwork required</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div><!-- //Key benefits -->
                <!-- // Promo -->
                <div class="button-group">
                    <a data-role="button" data-bind="events: {click: lifeInsuranceModel.calucator }">Go to Calculator</a>
                </div>
            </div>
        </div>
    </div>
</div>
