<div data-role="view" data-title="MIP Life Application" data-layout="main-nonav" data-model="app.covisionApplication" data-show="app.covisionApplication.onShowAddDep" data-after-show="app.covisionApplication.afterShowAddDep">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div id="add-new-dependent-form" class="form-view notice-box">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="list-header">
                    <h4>DEPENDENT DETAILS</h4>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>NAME</span>
                        <input id="dep-name" name="Name" type="text" required validationMessage="Enter first name" data-bind="value: covisionApplicationModel.fields.depFirstNames">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>SURNAME</span>
                        <input id="dep-surname" name="Surname" type="text" required validationMessage="Enter surname" data-bind="value: covisionApplicationModel.fields.depLastName">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>ID NUMBER</span>
                        <input id="dep-id-number" data-uid="" name="ID Number" type="tel" pattern="\d{13}" required validationMessage="Please select your birth date" data-bind="value: covisionApplicationModel.fields.depIdNumber" onblur="validateIdOnBlur($('#dep-id-number'))">
                        <input id="member-id" type="hidden" /> 
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>RELATION</span>
                        <select id="dep-relation" data-native-menu="true" data-bind="value: covisionApplicationModel.fields.depRelationship" required validationMessage="Please select a marital status" onchange="app.covisionApplication.covisionApplicationModel.cascadeCoverAmount()">
                            <option value="" data-placeholder="true"></option>
                            <option value="spouse">Spouse</option>
                            <option value="child">Child</option>
                            <option value="parent">Parent</option>
                            <option value="uncle">Uncle</option>
                            <option value="aunt">Aunt</option>
                            <option value="niece">Niece</option>
                            <option value="nephew">Nephew</option>
                            <option value="adult child">Adult Child</option>
                            <option value="brother">Sister</option>
                            <option value="sister">Brother</option>
                            <option value="additional partner">Additional Partner</option>                            
                        </select>
                    </label>
                </li>
                <li class="form-content-item" id="cover-amount-li">
                    <label class="km-label-above">
                        <span>COVER AMOUNT</span>
                        <select name="dep_benefit_amount" id="dep_benefit_amount" data-native-menu="true" data-bind="value: covisionApplicationModel.fields.depCoverAmount" required validationMessage="Please select a cover amount for the insured" onchange="app.covisionApplication.covisionApplicationModel.cascadeCoverAmount()">
                            <option value="" data-placeholder="true">Select cover amount</option> 
                            <option value="50000">R 50 000</option>
                            <option value="45000">R 45 000</option>
                            <option value="40000">R 40 000</option>
                            <option value="35000">R 35 000</option> 
                            <option value="30000">R 30 000</option>
                            <option value="25000">R 25 000</option>
                            <option value="20000">R 20 000</option>
                            <option value="15000">R 15 000</option>
                            <option value="10000">R 10 000</option>
                            <option value="5000">R 5 000</option>
                        </select>
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>MARITAL STATUS</span>
                        <select id="dep-marital" data-native-menu="true" data-bind="value: covisionApplicationModel.fields.depMaritalStatus" required validationMessage="Please select a marital status">
                            <option value="" data-placeholder="true"></option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                        </select>
                    </label>
                </li>
            </ul>
        </form>
        <div class="button-group">
            <a data-role="button" data-bind="events: { click: covisionApplicationModel.goBackDependentList }">Cancel</a>
            <a data-role="button" data-bind="events: { click: covisionApplicationModel.addNewDependent}">Confirm</a>
        </div>
    </div>
    <script>
        var addDependentFormValidate = $("#add-new-dependent-form").kendoValidator().data("kendoValidator"),
            statusDep = $(".status");
        // hide the spouse select option from the dropdown and show it, if it is not there 
        function onchnageRelationship() {
            var dependentList = JSON.parse(localStorage.getItem("coveredPeople"));

            if ($("#dependent-relation-select").val() === 'spouse') {
                $("#spouse-relation").hide(400);

            } // if ($("#dependent-relation-select").val() === 'spouse')

            for (var i = 0; i < dependentList; i++) {

                if (dependentList[i].relationship === 'spouse') {
                    $("#spouse-relation").hide(400);

                } // if (dependentList[i].relationship === 'spouse')
                else {
                    $("#spouse-relation").show(400);

                } // else 

                // TODO: allow only five children to be added 


                // TODO: also remove cover amounts for children

                if ($("#dependent-relation-select").val() === "") {
                    $("#dependent-cover-amount").hide(400);

                } // if ($("#dependent-relation-select").val())

            } // for (var i = 0; i < dependentList; i++) 

        } // function onchangeRelation()
    </script>
    <!-- END_CUSTOM_CODE_covisionApplication -->
</div>