<div data-role="view" data-title="MIP Life Application" data-layout="main-nonav" data-model="app.covisionApplication" data-show="app.covisionApplication.onShow" data-after-show="app.covisionApplication.afterShow">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="contact-us">
        <div class="application-focus-box">
            <ul>
                <br>
                <p style="font-size: 12px">
                    <strong>You (the person applying for this policy and who is the main insured person) must read this section and sign in the box to show that you agree.</strong>
                </p>
                <li>The information that I have given in this form is true and complete, even if it is not in my handwriting.</li>
                <li>The sales agent only provided me with facts about the policy and did not give me any advice.</li>
                <li>I decided to apply for this policy of my own free will.</li>
                <li>I have recieved my policy wording, I have read my policy wording and I understand it.</li>
                <li>If Hollard does not receive my total amount in time, my policy will stop. I will not get any benefit amount and Hollard will not pay back and money I have paid.</li>
                <li>I have 30 days from the day that I apply for the policy to decide whether to keep the policy. If I decide that I do not want the policy, Hollard will pay back any amount I paid them during that time, only if there is no claim.</li>
                <li>I hereby grant Hollard permission to use my personal claims and underwriting information and share it with other insurers and their serviceproviders in order to provide fair assessments and underwriting risk criteria. Provided that this
                    will always be done as permitted by therelevant privacy legislation.</li>
                <li>If Hollard needs more information than what I have given, I give them the right to contact any person they think necessary to get the information from them, including a doctor or hospital. I allow any person who they contact, to give them
                    the information that they need.</li>
                <li>I have an insurable interest in the insured people and I will have a financial loss if an insured person dies.</li>
                <li>I have an insurable interest in the insured people and I will have financial loss if an insured person dies.</li>
                <li>I understand that an insured person who is older than 18 years may not be covered for more than R60 000, even if they are covered under more than one Covision or Hollard policy. I understand that this is the most that Hollard and Covision
                    will pay if the insured person dies.</li>
                <li> I understand that the waiting periods for this product are 6 months for death caused by natural causes or suicide and 18 for pre-existing conditions.</li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <hr width="90%">
            <p style="font-size: 12px; text-align: center">
                <strong></strong>
            </p>
        </div>
        <ul data-role="listview" data-style="inset">
            <li class="detailsBack" data-elastic="true">
                <p>
                    <h3>Policy Information</h3>
                    <hr>
                    <b>Policy Number</b>
                    <br><span data-bind="text: covisionApplicationModel.contractDetails[0].cContractNumber"></span>
                    <br>
                    <br>
                    <b>Plan Name</b>
                    <br><span data-bind="text: covisionApplicationModel.contractDetails[0].cProductMarketingName"></span>
                    <br>
                    <br>
                    <b>Effective Date</b>
                    <br><span data-bind="text: covisionApplicationModel.contractDetails[0].dtCommencementDate"></span>
                    <br>
                    <br>
                    <b>Payment Amount</b>
                    <br><span data-bind="text: covisionApplicationModel.contractDetails[0].ttContractCollectionDetails[0].dPremium"></span>
                    <br>
                    <br>
                    <b>Policy Status</b>
                    <br><span data-bind="text: covisionApplicationModel.contractDetails[0].ttContractStatus[0].cContractStatus"></span>
                    <br>
                    <br>
                    <!--                 <b>Product Code</b>
                <br><span data-bind="text: covisionApplicationModel.contractDetails[0].ttContractProduct[0].cCode"></span>
                <br>
                <br> -->
                    <!-- <b>Payment Due Date</b>
                <br><span data-bind="text: joinNowJsModel.fields.dueDate"></span>
                <br>
                <br> -->
            </li>
            <li id="lifeAList">
                <ul id='lifeAssuredsList'></ul>
            </li>
        </ul>
    </div>
    <div class="button-group">
        <a data-role="button" data-bind="events: { click: covisionApplicationModel.uploadIDDoc }">
            Upload ID Document
        </a>
    </div>
    <div class="button-group">
        <a data-role="button" style="width: 90%" data-rel="modalview" href="#modalview-signature1" id="modalview-open-button1">
            Signature
        </a>
    </div>
    <div data-role="modalview" id="modalview-signature1" style="width: 95%; height: 95%; font-family: tahoma">
        <div class="form-view notice-box">
            <form>
                <h4>
                    <label>Please place your signature here.</label>
                </h4>
                <ul class="form-content form-list" data-role="listview" data-style="">
                    <li class="form-content-item">
                        <label class="km-label-above" style="border-bottom: solid 3px; height: 80%;">
                            <span>SIGNATURE</span>
                        </label>
                        <div id="sign" style="border: solid"></div>
                    </li>
                    <li class="form-content-item">
                        <label class="km-label-above">
                            <span>SIGN DATE</span>
                            <input name="Surname" type="date" required validationMessage="Enter surname" data-bind="value: covisionApplicationModel.fields.accOwnerSignDate">
                        </label>
                    </li>
                </ul>
            </form>
        </div>
        <div data-role="footer">
            <div data-role="navbar">
                <a onclick=" $('#sign').signature('clear');" data-role="button" data-align="left">Clear</a>
                <a data-bind="events: { click: covisionApplicationModel.closeSignModal1 }" data-role="button" data-align="right">Save</a>
            </div>
        </div>
    </div>
    <div class="button-group">
        <a data-role="button" data-bind="events: { click: covisionApplicationModel.completeApplication }">Complete</a>
    </div>
    <!-- END_CUSTOM_CODE_covisionApplication -->
</div>