<div data-role="view" data-title="MIP Life Application" data-layout="main" data-model="app.covisionApplication" data-show="app.covisionApplication.onShow" data-after-show="app.covisionApplication.afterShow">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div style="padding:0px; margin:0px">
        <center>
            <img src="data/images/homeScreen/miplife_home_screen.png" height="auto" width="90%" style="margin: 0px;">
        </center>
    </div>
    <div class="contact-us" id="covisionApplicationModel">
        <h2>
            Information Provider Form
        </h2>
        <p style="font-size: 12px; text-align: center">
            This is your <strong>INFORMATION PROVIDER FORM</strong> for your Funeral Plan
        </p>
        <div class="application-focus-box">

            <ul>
                <br>
                <p style="font-size: 12px">Please provide us with true and correct information when completing this form. If any of the information given is not true or correct, we may have to do one or more of the following:</p>
                <li>refuse to pay any benefit amount to you;</li>
                <li>stop the policy from any day we choose;</li>
                <li>stop the policy from the start date. If we stop the policy from the start date, we might not pay back any of the money you have paid to us;</li>
                <li>demand that you pay back any amount that we paid you under this poicy.</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <hr width="90%">
            <p style="font-size: 12px; text-align: center">
                Click the <strong>"Apply"</strong> button below to begin the application process.
            </p>
        </div>
        <div>
            <!-- <img lass="partner-logo"  src="data/images/covision_logo.jpg" width="45%" height="100%"/> -->
        </div>
    </div>
    <div class="button-group">
        <a data-role="backbutton">Back</a>
        <a data-role="button" data-bind="events: { click: covisionApplicationModel.startApplication }">Apply</a>
    </div>
    <!-- END_CUSTOM_CODE_covisionApplication -->
</div>