<div data-role="view" data-title="MIP Life Application" data-layout="main" data-model="app.covisionApplication" data-show="app.covisionApplication.onShow" data-after-show="app.covisionApplication.afterShow">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="form-view notice-box">
        <form id="beneficiary-form">
            <ul class="form-content form-list" data-role="listview" data-style="inset" id="toSpanify">
                <li class="list-header">
                    <h4>BENEFICIARY DETAILS
                        <hr align="left" style="padding-left: inherit;">
                    </h4>
                    <h5>THE PERSON WE WILL PAY THE BENEFIT OUT TO IF YOU DIE</h5>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>NAME</span>
                        <input name="Name" type="text" required validationMessage="Enter first name" data-bind="value: covisionApplicationModel.fields.beneficiaryName">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>SURNAME</span>
                        <input name="Surname" type="text" required validationMessage="Enter surname" data-bind="value: covisionApplicationModel.fields.beneficiarySurname">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>ID NUMBER</span>
                        <input id="bene-id-number" name="ID Number" type="tel" pattern="\d{13}" required validationMessage="Please enter your 13 digit ID number" data-bind="value: covisionApplicationModel.fields.beneficiaryIDNumber" onblur="validateIdOnBlur($('#bene-id-number'))">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>RELATION</span>
                        <label for="select-bene-relation" class="km-label-above">
                            <select name="select-bene-relation" id="select-bene-relation" data-native-menu="true">
                                <option value="" data-placeholder="true"></option>
                                <option value="spouse">Spouse</option>
                                <option value="child">Child</option>
                                <option value="parent">Parent</option>
                                <option value="uncle">Uncle</option>
                                <option value="aunt">Aunt</option>
                                <option value="niece">Niece</option>
                                <option value="nephew">Nephew</option>
                                <option value="adult child">Adult Child</option>
                                <option value="sister">Sister</option>
                                <option value="brother">Brother</option>
                                <option value="additional partner">Additional Partner</option>
                            </select>
                        </label>
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>CONTACT NO.</span>
                        <input name="Contact No" type="tel" required validationMessage="Enter contact number" data-bind="value: covisionApplicationModel.fields.beneficiaryContactNo">
                    </label>
                </li>
            </ul>
        </form>
        <script>
            var beneficiaryValidate = $("#beneficiary-form").kendoValidator().data("kendoValidator"),
                beneficiaryStatus = $(".status");
        </script>
        <div class="button-group">
            <a data-role="backbutton">Previous</a>
            <a data-role="button" data-bind="events: { click: covisionApplicationModel.addBeneficiary }">Next</a>
        </div>
    </div>
    <!-- END_CUSTOM_CODE_covisionApplication -->
</div>