<div data-role="view" data-title="MIP Life Application" data-layout="main" data-model="app.covisionApplication" data-show="app.covisionApplication.onShowPayment" data-after-show="app.covisionApplication.afterShowPayment">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <form>
        <br>
        <h3 class="lightgreen">
            Payment Details
            <hr color="#68c336">
        </h3>
        <div class="contact-us">
            <div class="application-focus-box">
                <ul>
                    <br>
                    <p style="font-size: 12px">
                        IMPORTANT! You must make sure that you pay the whole total amount by the first day of the month for the insurance for that month. If you miss a payment and you do not pay that total amount in the 30 day grace period we will stop the policy.
                        <br> We recommend that the total amount is not more than 5% of the monthly income of the person paying the total amount.
                        <br> The person who will pay the total amount must tick the box below to show that they can afford to pay the total amount every month
                        <br>
                    </p>
                </ul>


            </div>
        </div>
        <ul data-role="listview" data-style="inset">
            <li>
                <table>
                    <td style="width:70%">
                        <label class=" blue" style="font-size: 12px; padding-bottom:15px;" for="remeberPassword">Is the person paying for this policy the same as the main insured member</label>
                    </td>
                    <td style="width:20%">
                    </td>
                    <td style="width:10%">
                        <input id="policy-payer-switch" type="checkbox" data-role="switch" data-change="switchToggle" />
                    </td>
                </table>
            </li>
            <script>
                var switchVar = $("#policy-payer-switch").kendoMobileSwitch({
                    onLabel: "YES",
                    offLabel: "NO",
                    checked: true
                });

                function switchToggle(e) {
                    console.log(e.checked);
                    if (e.checked) {
                        app.covisionApplication.covisionApplicationModel.fields.isPayer = e.checked;
                        app.covisionApplication.covisionApplicationModel.fields.payerName = "";
                        app.covisionApplication.covisionApplicationModel.fields.payerSurname = "";
                        app.covisionApplication.covisionApplicationModel.fields.payerMonthlyIncome = "";
                        app.covisionApplication.covisionApplicationModel.fields.payerCell = "";
                        app.covisionApplication.covisionApplicationModel.fields.payerTelHome = "";
                        app.covisionApplication.covisionApplicationModel.fields.payerTelWork = "";
                        app.covisionApplication.covisionApplicationModel.fields.payerEmail = "";
                        $("#payer-details").hide(400);

                    } else {
                        app.covisionApplication.covisionApplicationModel.fields.isPayer = e.checked;
                        app.covisionApplication.covisionApplicationModel.fields.payerName = app.covisionApplication.covisionApplicationModel.fields.firstNames;
                        app.covisionApplication.covisionApplicationModel.fields.payerSurname = app.covisionApplication.covisionApplicationModel.fields.lastName;
                        app.covisionApplication.covisionApplicationModel.fields.payerMonthlyIncome = app.covisionApplication.covisionApplicationModel.fields.totalMonthlyIncome;
                        app.covisionApplication.covisionApplicationModel.fields.payerCell = app.covisionApplication.covisionApplicationModel.fields.cellNumber;
                        app.covisionApplication.covisionApplicationModel.fields.payerTelHome = app.covisionApplication.covisionApplicationModel.fields.telHome;
                        app.covisionApplication.covisionApplicationModel.fields.payerTelWork = app.covisionApplication.covisionApplicationModel.fields.telWork;
                        app.covisionApplication.covisionApplicationModel.fields.payerEmail = app.covisionApplication.covisionApplicationModel.fields.email;
                        $("#payer-details").show(400);
                    }
                    console.log(app.covisionApplication.covisionApplicationModel);
                }
            </script>
        </ul>
        <ul id="payer-details" class="form-content" data-style="inset" data-role="listview">
            <li class="list-header">
                <h4>PAYER DETAILS</h4>
            </li>
            <li class="form-content-item">
                <label class="km-label-above">
                    <span>NAME</span>
                    <input name="Name" type="text" required validationMessage="Enter first name" data-bind="value: covisionApplicationModel.fields.payerName">
                </label>
            </li>
            <li class="form-content-item">
                <label class="km-label-above">
                    <span>SURNAME</span>
                    <input name="Surname" type="text" required validationMessage="Enter surname" data-bind="value: covisionApplicationModel.fields.payerSurname">
                </label>
            </li>
            <li class="form-content-item">
                <label class="km-label-above">
                    <span>ID NUMBER</span>
                    <input name="ID Number" type="tel" required validationMessage="Enter ID Number(13-digit)" data-bind="value: covisionApplicationModel.fields.payerIDNumber">
                </label>
            </li>
            <li class="form-content-item">
                <label class="km-label-above">
                        <span>MONTHLY SALARY</span>
                        <select name="select-payer-salary" id="select-payer-salary" data-native-menu="true" data-bind="value: covisionApplicationModel.fields.payerMonthlyIncome">
                            <option value="" data-placeholder="true"></option>
                            <option value="R0 - R1 600">R0 - R1 600</option>
                            <option value="R1 601 - R3 000">R1 601 - R3 000</option>
                            <option value="R3 001 - R5 000">R3 001 - R5 000</option>
                            <option value="R5 001 - R8 000">R5 001 - R8 000</option>
                            <option value="R8 001 - R10 000">R8 001 - R10 000</option>
                            <option value="Above R10 000">Above R10 000</option>
                        </select>
                    </label>
            </li>
            <li class="form-content-item">
                <label class="km-label-above">
                    <span>CELL NUMBER</span>
                    <input name="Tel(work)" type="tel" required validationMessage="Enter work tel number" data-bind="value: covisionApplicationModel.fields.payerCell">
                </label>
            </li>
            <li class="form-content-item">
                <label class="km-label-above">
                    <span>TEL(WORK)</span>
                    <input name="Tel(work)" type="tel" required validationMessage="Enter work tel number" data-bind="value: covisionApplicationModel.fields.payerTelWork">
                </label>
            </li>
            <li class="form-content-item">
                <label class="km-label-above">
                    <span>TEL(HOME)</span>
                    <input name="Tel(home)" type="tel" required validationMessage="Enter home tel number" data-bind="value: covisionApplicationModel.fields.payerTelHome">
                </label>
            </li>
            <li class="form-content-item">
                <label class="km-label-above">
                    <span>E-MAIL</span>
                    <input name="E-mail" type="email" required validationMessage="Enter e-mail address" valuedata-bind="value: covisionApplicationModel.fields.payerEmail">
                </label>
            </li>
            <script>
                var payerDetailsForm = $("#payer-details").kendoValidator().data("kendoValidator"),
                    status = $(".status");
            </script>
        </ul>
        <div>
            <h3>
                <span>PAYMENT METHOD</span>
            </h3>
            <ul data-role="listview" data-style="inset">
                <li>
                    <input type="radio" style="color: purple;" class="km-radio" name="paymentMethod" onchange="onchange" id="cashPay" value="cashPay" data-bind="checked: covisionApplicationModel.fields.paymentMethod" checked="yes" />
                    <label class="km-radio-label km-label" for="cashPay">Cash Pay/ Easypay</label>
                </li>
            </ul>
            <script>
                var onchange = function() {
                    console.log(app.covisionApplication.covisionApplicationModel.fields.paymentMethod);
                    if (app.covisionApplication.covisionApplicationModel.fields.paymentMethod === "debitOrder") {

                        // show fields Required for debit order
                        $("#debitorderform").show();

                        // pre populate fields with if data is available
                        app.covisionApplication.covisionApplicationModel.fields.accOwnerName = app.covisionApplication.covisionApplicationModel.fields.payerName;
                        app.covisionApplication.covisionApplicationModel.fields.accOwnerSurname = app.covisionApplication.covisionApplicationModel.fields.payerSurname;
                        app.covisionApplication.covisionApplicationModel.fields.accOwnerIDNumber = app.covisionApplication.covisionApplicationModel.fields.payerIDNumber;
                        app.covisionApplication.covisionApplicationModel.fields.accOwnerCell = app.covisionApplication.covisionApplicationModel.fields.payerName;
                        app.covisionApplication.covisionApplicationModel.fields.accOwnerTelWork = app.covisionApplication.covisionApplicationModel.fields.payerName;
                        app.covisionApplication.covisionApplicationModel.fields.accOwnerTelHome = app.covisionApplication.covisionApplicationModel.fields.payerName;

                    } //  if (app.covisionApplication.covisionApplicationModel.fields.paymentMethod === "debitOrder")
                    else if (app.covisionApplication.covisionApplicationModel.fields.paymentMethod === "easyPay") {
                        app.covisionApplication.covisionApplicationModel.fields.paymentMethod === "cash"
                            // remove debit order fields
                        $("#debitorderform").hide();

                    } // else if (app.covisionApplication.covisionApplicationModel.fields.paymentMethod === "easyPay")
                    else {
                        app.covisionApplication.covisionApplicationModel.fields.paymentMethod === "cash"
                            // remove debit order fields(cashPay)
                        $("#debitorderform").hide();

                    } // else 
                }
            </script>
        </div>
    </form>
    <div>
        <ul data-role="listview" data-style="inset" class="form-content">
            <li class="form-content-item">
                <label class="km-label-above">
                    <span>COMMENCEMENT MONTH</span>
                    <select id="select-commencement-month"></select>
                </label>
            </li>
        </ul>
        <div class="button-group">
            <a data-role="backbutton">Previous</a>
            <a data-role="button" data-bind="events: { click: covisionApplicationModel.addPaymentDetails}">Next</a>
        </div>
        <!-- END_CUSTOM_CODE_covisionApplication -->
    </div>
</div>