<div data-role="view" data-title="MIP Life Application" data-layout="main" data-model="app.covisionApplication" data-show="app.covisionApplication.onShowEasyPay" data-after-show="app.covisionApplication.afterShowEasyPay">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div id="easypay-contract-ref-form" class="form-view notice-box" height="100%">
        <form>
            <ul data-role="listview" data-style="inset" class="form-content">
                <li class="form-content-item" style="border-bottom: none">
                    <h4 class="lightgreen">Please enter a ploicy number in the field below and tap the "Get EasyPay Ref" to get the EasyPay reference number linked to that Policy.
                        <br>Alternatively you tap the "Get Policy Number" whick will allow you to scan the barcodes issues on EasyPay cards to get the Policy number it is linked to.
                        <br> Please note: That this process is not mandatory.
                    </h4>
                    <li class="form-content-item">
                        <label class="km-label-above">
                        <span>POLICY NUMBER</span>
                        <input type="text" data-bind="value: covisionApplicationModel.fields.policyNumber" >
                    </label>
                    </li>
            </ul>
            <div class="button-group">
                <a data-role="button" data-bind="events: { click: covisionApplicationModel.getEasyPayRef }">Get EasyPay Ref</a>
                <a data-role="button" data-bind="events: { click: covisionApplicationModel.scanEasyPay }">Get Policy Number</a>
            </div>
            <ul data-role="listview" data-style="inset" class="form-content-item">
                <li id="easypay-reference" class="form-content-item">
                    <center>
                        <h4></h4>
                        <h3 id="easyPay-ref-num">                           
                        </h3>
                        <!--<hr width="75%" color="#006652">-->
                    </center>
                </li>
            </ul>
        </form>
    </div>
    <div data-role="footer">
        <hr color="#68c366">
        <div class="button-group">
            <a data-role="backbutton" class="primary">Previous</a>
            <a data-role="button" class="primary" data-bind="events: { click: covisionApplicationModel.newApplication }">Next</a>
        </div>
    </div>
    <!-- END_CUSTOM_CODE_covisionApplication -->
</div>