<div data-role="view" data-title="MIP Life Application" data-layout="main" data-model="app.covisionApplication" data-show="app.covisionApplication.onShow" data-after-show="app.covisionApplication.afterShow">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div id="main_address_form" class="form-view notice-box">
        <form>

            <ul id="postal-address" class="form-content" data-role="listview" data-style="inset">
                <li class="list-header">
                    <h4>POSTAL ADDRESS</h4>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>STREET</span>
                        <input name="Postal Street" type="text" required validationMessage="Enter street name" data-bind="value: covisionApplicationModel.fields.postalStreet">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>SUBURB</span>
                        <input name="Postal Suburb" type="text" required validationMessage="Enter suburb name" data-bind="value: covisionApplicationModel.fields.postalSuburb">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>CITY</span>
                        <input name="Postal City" type="text" required validationMessage="Enter city name" data-bind="value: covisionApplicationModel.fields.postalCity">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>CODE</span>
                        <input name="Postal Code" type="tel" pattern="\d{4}" required validationMessage="Enter code" data-bind="value: covisionApplicationModel.fields.postalCode">
                    </label>
                </li>
            </ul>
            <ul data-role="listview" data-style="inset">
                <li>
                    <table style="table-layout: fixed; width:100%; word-wrap: break-word;">
                        <tr>
                            <td style="width:70%">
                                <!--<input type="checkbox" id="remeberPassword" class="k-checkbox" style="padding-top:10px;"> -->
                                <label class=" blue" style="padding-bottom:15px;" for="remeberPassword">Is residential address same as postal address?</label>
                            </td>
                            <td style="width:20%">
                            </td>
                            <td style="width:10%">
                                <input type="checkbox" id="address-switch" data-role="switch" data-change="addressToggle" />
                            </td>

                        </tr>
                    </table>
                </li>

            </ul>

            <script>
                var switchVar = $("#address-switch").kendoMobileSwitch({
                    onLabel: "YES",
                    offLabel: "NO",
                    checked: true
                });

                function addressToggle(e) {
                    console.log(e.checked);
                    if (e.checked) {
                        app.covisionApplication.covisionApplicationModel.fields.residentialStreet = app.covisionApplication.covisionApplicationModel.fields.postalStreet;
                        app.covisionApplication.covisionApplicationModel.fields.residentialSuburb = app.covisionApplication.covisionApplicationModel.fields.postalSuburb;
                        app.covisionApplication.covisionApplicationModel.fields.residentialCity = app.covisionApplication.covisionApplicationModel.fields.postalCity;
                        app.covisionApplication.covisionApplicationModel.fields.residentialCode = app.covisionApplication.covisionApplicationModel.fields.postalCode;
                        $("#residential-address").hide(400);

                    } else {
                        app.covisionApplication.covisionApplicationModel.fields.residentialStreet = "";
                        app.covisionApplication.covisionApplicationModel.fields.residentialSuburb = "";
                        app.covisionApplication.covisionApplicationModel.fields.residentialCity = "";
                        app.covisionApplication.covisionApplicationModel.fields.residentialCode = "";
                        $("#residential-address").show(400);
                    }
                    console.log(app.covisionApplication.covisionApplicationModel.fields);

                }
            </script>

            <ul id="residential-address" class="form-content" data-role="listview" data-style="inset">
                <li class="list-header">
                    <h4 id="residential-address-header">RESIDENTIAL ADDRESS</h4>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>STREET</span>
                        <input name="Residential Street" type="text" required validationMessage="Enter street name" data-bind="value: covisionApplicationModel.fields.residentialStreet">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>SUBURB</span>
                        <input name="Residential Suburb" type="text" required validationMessage="Enter suburb name" data-bind="value: covisionApplicationModel.fields.residentialSuburb">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>CITY</span>
                        <input name="Residential City" type="text" required validationMessage="Enter city name" data-bind="value: covisionApplicationModel.fields.residentialCity">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>CODE</span>
                        <input name="Residential Code" type="tel" pattern="\d{4}" required validationMessage="Enter code" data-bind="value: covisionApplicationModel.fields.residentialCode">
                    </label>
                </li>
            </ul>
        </form>
        <script>
            var postalAddressValidate = $("#postal-address").kendoValidator().data("kendoValidator"),
                statusPos = $(".status");
            var residentialAddressValidate = $("#residential-address").kendoValidator().data("kendoValidator"),
                statusRes = $(".status");
        </script>
        <div class="button-group">
            <a data-role="backbutton">Previous</a>
            <a data-role="button" data-bind="click: covisionApplicationModel.addMainAddressDetails">Next</a>
        </div>
    </div>
    <!-- END_CUSTOM_CODE_covisionApplication -->
</div>