<div data-role="view" data-title="MIP Life Application" data-layout="main" data-model="app.covisionApplication" data-show="app.covisionApplication.onShowMainMember" data-after-show="app.covisionApplication.afterShow">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="form-view" id="covisionApplicationModel">
        <form id="main-member-form">
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="list-header">
                    <h4>MAIN COVER</h4>
                </li>
                <li class="form-content-item">
                    <label for="main_benefit_amount" class="km-label-above">                                              	
                        <select name="main_benefit_amount" id="main_benefit_amount" onchange="adjustChildValues()" data-native-menu="true" required validationMessage="Please select a cover amount for the main insured">
                            <option value="" data-placeholder="true">Select a Cover Amount</option> 
                            <option value="50000">R 50 000</option>
                            <option value="45000">R 45 000</option>
                            <option value="40000">R 40 000</option>
                            <option value="35000">R 35 000</option> 
                            <option value="30000">R 30 000</option>
                            <option value="25000">R 25 000</option>
                            <option value="20000">R 20 000</option>
                            <option value="15000">R 15 000</option> 
                            <option value="10000">R 10 000</option>
                            <option value="5000">R 5 000</option>
                        </select>
                    </label>
                </li>
            </ul>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="list-header">
                    <h4>PERSONAL DETAILS</h4>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>FIRST NAME(s)</span>
                        <input name="First Name" type="text" required validationMessage="Enter first name(s)" data-bind="value: covisionApplicationModel.fields.firstNames">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>SURNAME</span>
                        <input name="Surname" type="text" required validationMessage="Enter surname" data-bind="value: covisionApplicationModel.fields.lastName">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>ID NUMBER</span>
                        <input id="main-id-number" name="ID No" type="tel" pattern="\d{13,13}" required validationMessage="Enter ID no. 13-digit" data-bind="value: covisionApplicationModel.fields.idNumber" onblur="validateIdOnBlur($('#main-id-number'))">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>MARITAL STATUS</span>
                        <select name="select-main-marital" id="select-main-marital" data-native-menu="true" data-bind="value: covisionApplicationModel.fields.maritalStatus" required validationMessage="Please select a marital status">
                            <option value="" data-placeholder="true"></option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Divorced">Divorced</option>
                            <option value="Widowed">Widowed</option>
                            <option value="Separated">Separated</option>
                        </select>
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>MONTHLY SALARY RANGE</span>
                        <select name="select-main-salary" id="select-main-salary" data-native-menu="true" data-bind="value: covisionApplicationModel.fields.totalMonthlySalary" required validationMessage="Please select a salary range">
                            <option value="" data-placeholder="true"></option>
                            <option value="R0 - R1 600">R0 - R1 600</option>
                            <option value="R1 601 - R3 000">R1 601 - R3 000</option>
                            <option value="R3 001 - R5 000">R3 001 - R5 000</option>
                            <option value="R5 001 - R8 000">R5 001 - R8 000</option>
                            <option value="R8 001 - R10 000">R8 001 - R10 000</option>
                            <option value="Above R10 000">Above R10 000</option>
                        </select>
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>CELL NUMBER</span>
                        <input name="Cell No" type="tel" pattern="\d{10,10}" required validationMessage="Enter cell no. 10-digit" data-bind="value: covisionApplicationModel.fields.cellNumber">
                    </label>
                    <span style="font-size: 10px; color: gray">IMPORTANT! We will use your cell phone number to tell you when we agree to accept your application.</span>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>TEL(HOME)</span>
                        <input name="Tel(home)" type="tel" pattern="\d{10,10}" validationMessage="Enter home tel no. 10-digit" data-bind="value: covisionApplicationModel.fields.telHome">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>TEL(WORK)</span>
                        <input name="Tel(work)" type="tel" pattern="\d{10,10}" validationMessage="Enter work tel no. 10-digit" data-bind="value: covisionApplicationModel.fields.telWork">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>E-MAIL</span>
                        <input name="E-mail" type="email" validationMessage="Enter e-mail address" data-bind="value: covisionApplicationModel.fields.email">
                    </label>
                </li>
                <li class="form-content-item">
                    <input type="checkbox" id="eq4" class="k-checkbox" />
                    <label class="k-checkbox-label" for="eq4" style="font-size: 12px">Can we use the above cellphone number to contact you about your policy? If no, we will use your postal address.</label>
                </li>
            </ul>
        </form>
        <script>
            var mainMemberFormValidate = $("#main-member-form").kendoValidator().data("kendoValidator"),
                status = $(".status");
        </script>
    </div>
    <div class="button-group">
        <a data-role="backbutton">Previous</a>
        <a data-role="button" data-bind="events: { click: covisionApplicationModel.addMainMember }">Next</a>
    </div>
    <!-- END_CUSTOM_CODE_covisionApplication -->
</div>