<div data-role="view" data-title="MIP Life Application" data-layout="main" data-model="app.covisionApplication" data-show="app.covisionApplication.onShowDepList" data-after-show="app.covisionApplication.afterShowDepList">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div>
        <ul data-role="listview" data-style="inset">
            <li>
                <a data-role="button" data-icon="contacts" data-bind="events: { click: covisionApplicationModel.gotoDependentAdd }" style="float: right; padding-right: 30px">Add dependent</a>
            </li>
        </ul>
    </div>
    <div id="dependent-list-form" class="form-view">
        <ul class="form-content" data-role="listview" data-style="inset">
            <li>
                <table style="width: 100%; font-size: 12px;" cellspacing="0px">
                    <thead id="tHeaderDependentList">
                        <tr class='bold headingsDiv list-header' style='padding-bottom:10px'>
                            <td class='claimsTableBorder'>Relation</td>
                            <td class='claimsTableBorder'>DoB/ID No.</td>
                            <td class='claimsTableBorder'></td>
                            <td class='claimsTableBorder'></td>
                        </tr>
                    </thead>
                    <tbody id="currentDependentList">
                        <tr class='bold' style='padding-bottom:10px'>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
    <div class="button-group">
        <a data-role="backbutton">Previous</a>
        <a data-role="button" data-bind="events: { click: covisionApplicationModel.gotoBeneficiaryDetails }">Next</a>
    </div>
    <!-- END_CUSTOM_CODE_covisionApplication -->
</div>
<!-- <td><a data-bind='events: { click: covisionApplicationModel.removeDependents }'></td> -->