<div data-role="view" data-title="Car Insurance" data-layout="main" data-model="app.carInsurance" data-show="app.carInsurance.onShow" data-after-show="app.carInsurance.afterShow">
    <!-- START_CUSTOM_CODE_carInsurance -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="contact-us">
        <h2>
            Car Insurance
        </h2>

        <p>
            Both <strong>you and your car need protection</strong>, that's why you need
            comprehensive car insurance.
        </p>

        <p>With Hollard, you can get cover for you, your car, your passengers, other
            drivers and pedestrians.</p>

        <p>
            <a class="hyperlink" data-bind="events: { click: carInsuranceModel.gotoHouseholdInsurance }">Bundle your car and household insurance
                together to save money and get all the cover you need in one great package.
                Click here for more details!
                
            </a>
        </p>

        <div>
            <div>
                <!-- Promo -->
                <div class="focus-box">
                    <h3>Key Benefits</h3>
                    <ul>
                        <li>Cover for theft, criminal damage and third party vehicle damage or injury</li>
                        <li>Cover against damage incurred in an accident, fire or natural disaster</li>
                        <li>
                            24-hour roadside assistance includes towing. Policyholders can call
                            <a href="tel:0861-000-911">0861 000 911</a>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div><!-- //Key benefits -->
                <!-- // Promo -->
            </div>
             <div class="button-group">
                <a data-role="button" data-bind="events: { click: carInsuranceModel.callMeBack }">Call me back<br/><span>Get a quote now</span>
                </a>
            </div>
            
        </div>
    </div>
    <!-- END_CUSTOM_CODE_carInsurance -->
</div>