<div data-role="view" data-title="Extended Car Warrenty" data-layout="main" data-model="app.extendedCarWarranty" data-show="app.extendedCarWarranty.onShow" data-after-show="app.extendedCarWarranty.afterShow">
    <div class="contact-us">
        <h2>
            Extended Car Warranty
        </h2>

        <p>
            Extended Car Warranty allows you to <strong>cover your car even if the
                manufacturer's warranty has expired.</strong>
        </p>

        <p>Provides cover for unforeseen mechanical failure.</p>
 
        <div>
            <div>
                <!-- Promo -->
                <div class="focus-box">
                    <h3>Key Benefits</h3>
                    <ul>
                        <li>Covers you for mechanical failure</li>
                        <li>Premiums start from as little as R159 per month</li>
                        <li>
                            24-hour roadside assistance includes towing. Policyholders can call
                            <a href="tel:0860-109-099">0860 109 099</a>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div><!-- //Key benefits -->
                <!-- // Promo -->
            </div>
            <div>
                <!-- Promo -->
                <div class="focus-box">
                    <h3>Extended Car Warranty is right for you, if:</h3>
                    <ul>
                        <li>Your car is a passenger car</li>
                        <li>Your warranty has expired</li>
                        <li>Your car has traveled less than 200,000 km</li>
                        <li>Your car is less than 10 years old</li>
                        <li>Your car is not used for commercial purposes or racing</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div><!-- //Key benefits -->
                <!-- // Promo -->
            </div>
            <div class="button-group">
                <a data-role="button" data-bind="events: { click: extendedCarWarrantyModel.callMeBack }">
                    Call me back<br/><span>Get a quote now</span>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
