case {
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
}

input[type="radio"] {
    float: left;
}


/* CSS for home screen */

.editButton {
    background: linear-gradient(to right, #F7E1C2, #BDA168) !important;
    color: black;
    border: none;
}

.footerback {
    background-color: transparent;
}

.editButton:active {
    background: linear-gradient(to right, #BBBBBB, #F5F5F5) !important;
    color: black;
    border: none;
}


/* .editButton:active {
background: linear-gradient(to right, #BBBBBB, #F5F5F5) !important;
color: black;
border: none;
position: absolute;
} */

.buttonSpecial {
    background-color: #b6985a !important;
    color: #fff !important;
}

.buttonSpecial:active {
    color: #000 !important;
}

.buttonSpecial:hover {
    color: #000 !important;
}

.equalButton {
    padding: 1px;
}

.homeButton {
    background: transparent !important;
}

.detailsBack {
    /* background: purple !important; */
    /* border: none !important;*/
    /* color: White; */
    font-size: 14px;
}

#kendoUiMobileApp div.km-content.km-widget.km-scroll-wrapper {
    /* changes the back ground of the app to the color of your choice */
    /* background: linear-gradient(to right, #BDA168, #F7E1C2); */
}

.bold {
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    /*Randomly choose 500px as the defining point we can tweak this */
    .hideThis {
        display: none;
    }
}

.headingsDiv {
    width: 100%;
    height: 40px;
}

div .rotate {
    background-image: url(../data/images/icon/rotate_icon_2.png);
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
    /* position: fixed; */
}


/*.km-rightitem {
z-index: 1;
position: fixed;
right: 2.5em;
} */

.claimsTableBorder {
    border-bottom-style: solid;
    border-width: 1px;
}


/* .homeIcon {
//vertical-align: middel;
} */

.menuImage {
    /*padding-right: 15px;
    padding-left: 10px;
    padding-top: 1px;
    /* 6 */
    padding-bottom: 0px;
    height: 35px;
    /* 28 */
    width: auto;
}

.required {
    color: yellow
}

.contact-us {
    padding: 2em 4% .35em;
    border-radius: 2px;
}

.contact-us h2,
.contact-us h3 {
    /* font-size: 1.85em; */
    color: #1c2652;
    margin: 0 0 .75em
}

.contact-us p {
    color: #635f60;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 0 1.5em
}

.contact-us p a {
    text-decoration: none;
    color: #1c2652;
    border-bottom: .1em solid #1c2652
}

.km-view-title {
    color: #1c2652;
}

.km-navbar {
    /* remove space on top of title-bar on ios devices */
    /*  display: initial; */
}

.focus-box {
    background: #e9e9e9;
    text-align: left;
    border: 1px solid #bbb;
    border-radius: 2px;
    margin: 0 0 .4em;
    padding: .5em 4% .75em;
    /* width: 90% ;*/
    display: block
}

.focus-box h3,
.focus-box h4 {
    margin: 0 0 .7em;
    font-size: 1.45em
}

.focus-box p {
    margin: 0
}

.focus-box a {
    color: #1c2652
}

.focus-box ul {
    margin: 0;
    padding: 0
}

.focus-box ul li {
    list-style-type: none;
    font-size: 1.02em;
    line-height: 1.5;
    color: #635f60;
    margin: 0 0 1em;
    padding: 0 0 0 8%;
    background: transparent url('../data/images/icon/apply.png') no-repeat;
    background-size: 15px 15px;
    background-position-y: 50%
}

.hyperLink {
    text-decoration: underline;
    color: #1c2652 !important;
}

.application-focus-box {
    background: #e9e9e9;
    text-align: left;
    border: 1px solid #bbb;
    border-radius: 2px;
    margin: 0 0 .4em;
    padding: .5em 4% .75em;
    /* width: 90% ; */
    display: block
}

.application-focus-box h3,
.application-focus-box h4 {
    margin: 0 0 .7em;
    font-size: 1.45em
}

.application-focus-box p {
    margin: 0
}

.application-focus-box a {
    color: #1c2652
}

.application-focus-box ul {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.application-focus-box ul p {
    margin: 0px;
    padding: 0;
    padding-bottom: 7px;
    font-size: 12px;
}

.application-focus-box ul li {
    list-style-type: none;
    /* font-size: 14px; */
    /*     line-height: 1.0; */
    color: #635f60;
    margin: 0.5em;
    /*     padding: 0 0 0 8%; */
    padding-left: 8%;
    background: transparent url('../data/images/icon/check_circle.png') no-repeat;
    background-size: 8px 8px;
    background-position-y: 50%
}

.application-focus-box table {
    width: 85%;
}


/*.feature-cell .focus-box ul li {
list-style-type: disc;
background: 0
}
.focus-box ul li:last-child {
margin: 0 0 .5em
}
.focus-box ul li img {
display: inline-block
}
.feature-focus-box {
background: #e9e9e9;
margin: 15px 0 20px;
padding: 15px 15px 18px
}
.feature-focus-box h3 {
color: #1c2652;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
line-height: 1;
margin: 0 0 10px;
padding: 0 15px 8px 0
}
.feature-focus-box select {
background: #fff;
width: 78%;
color: #919191;
padding: .5em 2%;
border: 1px solid #a2a0a0
}
.feature-focus-box>form input[type="submit"] {
background: #fff;
color: #919191;
border: 1px solid #a2a0a0;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
margin: 0 0 0 2%;
padding: .75em 3%;
cursor: pointer
}
.feature-focus-box table {
width: 100%;
font-family: Arial, Helvetica, sans-serif;
color: #635f60;
font-size: 15px;
line-height: 22px
}
.feature-focus-box table td.empty {
height: 1em
} */

notice-box {
    background: #e9e9e9;
    text-align: left;
    border: 1px solid #bbb;
    margin: 0 0 .4em;
    padding: .5em 4% .75em;
    /* width: 90% ; */
    display: block
}

notice-box h3,
notice-box h4 {
    margin: 0 0 .7em;
    font-size: 1.45em
}

notice-box p {
    margin: 0
}

notice-box a {
    color: #1c2652
}

notice-box ul {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

notice-box ul p {
    margin: 0px;
    padding: 0;
    padding-bottom: 7px;
    font-size: 12px;
}

notice-box ul li {
    list-style-type: none;
    background: #e9e9e9;
    /* font-size: 14px; */
    line-height: 2.0;
    color: #635f60;
    margin: 0 0 0.5em;
    padding: 0 0 0 8%;
    background: transparent;
    background-size: 12px 12px;
    background-position-y: 50%;
}

grayListItem {
    background-color: #e9e9e9;
}

k-textbox {}

.k-textbox .k-icon {
    top: 25%;
    right: 25%;
    margin: 0;
    border-style: none;
}

k-checkbox-label {}

.k-widget.k-tooltip-validation {
    border-color: transparent;
    background-color: transparent;
    color: red;
}

.k-widget.k-tooltip-validation {
    box-shadow: none;
    display: table;
    font-size: smaller;
    background-color: transparent;
}

.styled-select {
    background: blue;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: #1c2652;
}


/* k-textbox {
margin: 10;
padding: 10;
background-color: Green;
border-width: 1;
border-style: solid;
border-color: #C7C7CC;
border-radius: 1
} */

input.k-textbox {
    background-color: #FAFAFA;
    width: 60%;
    border-width: 1px;
    border-style: solid;
    border-color: #b3b3b3;
    border-radius: 2px;
    margin: 5px;
}

.k-textbox:focus {
    /* -webkit :box-shadow: 0 0 20px 0  #2e2e2e; */
    box-shadow: 0 0 20px 0 #2e2e2e;
}

.form-list {
    list-style-type: none;
    padding: 0;
}

.k-block,
.k-button,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-notification,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-colorpicker,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload,
.k-split-button .k-gantt-views,
.k-gantt-views>.k-current-view {
    border-radius: 2px
}

.k-popup>.k-group-header,
.k-popup>.k-virtual-wrap>.k-group-header {
    text-align: right
}

.align_with_rest {
    margin-left: 3%
}


/* adjust height of list items */

.km-flat .km-label-above {
    padding-bottom: 0em;
    padding-right: 3em;
}

.km-list>li>* {
    line-height: inherit;
}


/* adjust text box width */

#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-above input:not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-above select:not([multiple]),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden input:not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden select:not([multiple]) {
    width: 100%;
    position: static;
    margin-left: 0rem;
    margin-right: -0.4rem;
}


/* adjust height of popup list */

.k-popup .k-list .k-item,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-popup>.k-group-header,
.k-popup>.k-virtual-wrap>.k-group-header {
    padding: 1px 5px 1px 5px;
    line-height: 3.5em;
    min-height: 1.8em;
}

.k-list-scroller {
    position: relative;
    /* overflow: auto; */
    height: 50%!important;
}

.km-flat .km-popup {
    left: 0!important;
    top: 0!important;
    width: 100%!important;
    height: 100%!important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.very_special_button {
    color: #41135a;
    font-weight: bold;
    background-color: transparent !important;
    border-style: none !important;
}

.very_special_button:active {
    color: #cc96e9 !important;
}


/* -------> Change the radio button color */

.km-flat .km-radio-label:before {
    border-color: #1c2652;
}

.km-flat .km-radio-label:after {
    background-color: #1c2652;
}

.switch-section ul {
    margin: 0;
    padding: 0;
}

.switch-section ul li {
    margin: 0;
    padding: 0px 0px 0px 20px;
    min-height: 28px;
    line-height: 28px;
    vertical-align: middle;
    border-top: 1px solid rgba(128, 128, 128, .5);
}

.switch-section {
    min-width: 220px;
    margin-top: 50px;
    padding: 0;
}

.switch-section ul li .km-switch {
    float: right;
}

#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-above input:not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-above select:not([multiple]),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden input:not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden select:not([multiple]) {
    position: none
}

.km-label-above span {
    font-weight: normal;
    color: #4c5356;
}

.km-label-above input,
select {
    font-weight: normal;
    color: #1c2652 !important;
}

.lightgreen {
    color: #1c2652;
}

.white {
    color: #FFF;
}


/*.km-list .k-dropdown-wrap {
    display: inline;
}*/

.km-flat .km-view .km-content .km-button {
    border: none;
    background: #1c2652;
    color: #fff;
}

.km-flat .km-view .km-content .km-button .km-state-active {
    background: #1c2652;
    color: #fff;
}

.km-flat .km-view .km-content .km-list > li .km-state-active {
    background: #1c2652;
    color: #fff;
}

.list-header {
    background-color: #1c2652 !important;
    border: none !important;
    border-bottom: solid 1.5px !important;
    border-bottom-color: #1c2652 !important;
}

.list-header h1,
h2,
h3,
h4,
h5 {
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase
}

.list-header hr {
    padding-left: 20%;
    color: yellow;
}

.form-content li {
    /*border-color: #1c2652 !important;*/
}

#slider-wrapper {
    width: 100%;
    height: 210px;
}

#slider {
    width: 100%;
    height: 210px;
    position: relative;
}

.transition {
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0px 0px 0px 0px;
}

.km-footer {
    background: #ffffff;
}


/* change the main background of the app. */

.km-view {
    background: #ffffff;
}