.km-material .km-scroller-pull {
  background: #006652 !important;
}
.km-material .km-state-active {
  background-color: #006652;
}
.km-material .km-button {
  background-color: #eceff1;
  color: #4c5356;
}
.km-material .km-view .km-navbar {
  background-color: #006652;
  color: #fff;
}
.km-material .km-view .km-navbar .km-view-title > * {
  color: #fff;
}
.km-material .km-view .km-navbar .km-button {
  border: none;
  background-color: #8c8d91;
  color: #ffffff;
}
.km-material .km-view .km-navbar .km-button:hover {
  background-color: #68c366;
  color: #4c5356;
}
.km-material .km-view .km-navbar .km-button .km-text {
  color: #ffffff;
}
.km-material .km-view .km-navbar .km-button.km-state-active {
  background-color: #68c366;
  color: #4c5356;
}
.km-material .km-view .km-content {
  background-color: #ffffff;
  color: #4c5356;
}
.km-material .km-view .km-content .km-list > li {
  background-color: #ffffff;
}
.km-material .km-view .km-content .km-list > li .km-state-active {
  background-color: #006652;
}
.km-material .km-view .km-content .km-list > li:first-child {
  border-top-width: 1px;
}
.km-material .km-view .km-content .km-list > li:last-child {
  border-bottom-width: 1px;
}
.km-material .km-view .km-content .km-list > li .km-switch .km-switch-container {
  background-color: #607d8b;
}
.km-material .km-view .km-content .km-list .km-state-active .km-listview-link {
  background-color: #006652;
  color: #fff;
}
.km-material .km-view .km-content .km-list .km-state-active:after {
  color: #fff;
}
.km-material .km-view .km-content .km-scrollview {
  background-color: #fff;
}
.km-material .km-view .km-content .km-button {
  background-color: #eceff1;
}
.km-material .km-view .km-content .km-button.km-state-active {
  background-color: #68c366;
  color: #ffffff;
}
.km-material .km-view .km-content .km-listgroup .km-group-title {
  color: #e5e5e5;
}
.km-material .km-view .km-content .km-listgroup .km-group-title .km-text {
  color: #999;
}
.km-material .km-view .km-content .km-switch .km-switch-container {
  color: #ffffff;
}
.km-material .km-view .km-content .km-switch .km-switch-container .km-switch-handle {
  color: #ffffff;
}
.km-material .km-view .km-content .km-switch .km-switch-container .km-switch-label-on {
  background-color: #607d8b;
}
.km-material .km-view .km-tabstrip .km-button {
  background-color: #607d8b;
}
.km-material .km-view .km-tabstrip .km-button.km-state-active {
  background-color: #006652;
}
.km-material .km-drawer {
  background-color: #ffffff;
}
.km-material .km-drawer .km-navbar {
  background-color: #ffffff;
  color: #4c5356;
}
.km-material .km-drawer .km-navbar .km-view-title > * {
  color: #4c5356;
}
.km-material .km-actionsheet > li {
  border-color: #607d8b;
  border-style: solid;
  border-width: 0 0px 1px 0px;
}
.km-material .km-actionsheet > li > a {
  background-color: #ffffff;
  color: #4c5356;
}
.km-material .km-actionsheet > li > a:hover {
  background-color: #cfd8dc;
}
.km-material .km-loader.km-widget::before {
  background: #006652;
}
.km-material .km-switch-handle {
  background-color: #ffffff;
}
.km-material .k-slider-selection {
  background-color: #ffffff;
}
.km-material .km-switch-background {
  background-color: #607d8b;
}
.km-material .km-touch-scrollbar {
  background-color: #607d8b;
}
.km-material .km-pages .km-current-page {
  background-color: #607d8b;
}
.km-widgets:after,
.km-widgets:before {
  content: "\e0c5";
}
.km-hamburger:after,
.km-hamburger:before {
  content: "\E077";
}
