<div data-role="view" data-title="Address Details" data-layout="main-nonav" data-model="app.address" data-show="app.address.onShow" data-after-show="app.address.afterShow">
    <!-- START_CUSTOM_CODE_address -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div>
        <form id="updateAddressDetailsForm" class='form-view'>
            <ul data-role="listview" data-style="inset" id='fieldlist'>
                <li>
                    <label class='required'>Street</label>
                    <input name="street" data-bind="value: addressModel.personData.addressLine1" type="text" required validationMessage="Enter {0}">
                </li>
                <li>
                    <label class='required'>Suburb</label>
                    <input name="suburb" data-bind="value: addressModel.personData.addressLine2" type="text" required validationMessage="Enter {0}">
                </li>
                <li>
                    <label class='required'>City</label>
                    <input name="city" data-bind="value: addressModel.personData.addressLine3" type="text" required validationMessage="Enter {0}">
                </li>
                <li>
                    <label class='required'>Province</label>
                    <input name="province" data-bind="value: addressModel.personData.addressLine4" type="text" required validationMessage="Enter {0}">
                </li>
                <li>
                    <label class='required'>Country</label>
                    <input name="country" data-bind="value: addressModel.personData.addressLine5" type="text" required validationMessage="Enter {0}">
                </li>
                <li>
                    <label class='required'>Postal Code</label> 
                    <input name="postalcode" data-bind="value: addressModel.personData.postCode" type="tel" required validationMessage="Please enter your postal code in please">
                </li>
            </ul>
            <script>
                var validator = $("#updateAddressDetailsForm").kendoValidator().data("kendoValidator"),
                    status = $(".status");
            </script>
            <div class="button-group">
                <a data-role="button" data-bind="events: { click: addressModel.cancel }">Cancel</a>
                <a data-role="button" data-bind="events: { click: addressModel.confirm }">Confirm</a>
            </div>
        </form>
    </div>
    <!-- END_CUSTOM_CODE_address -->
</div>