<div data-role="view" data-title="Legal Insurance" data-layout="main" data-model="app.legalInsurance" data-show="app.legalInsurance.onShow" data-after-show="app.legalInsurance.afterShow">

    <div class="contact-us">
        <h2>
            Legal Insurance
        </h2>

        <p>
            <strong>Protect yourself against any unforeseen legal cases</strong> with
            four levels of legal cover and exclusive benefits.
        </p>

        <p>Legal Insurance expenses can escalate very quickly. The Hollard Legal Plan
            protects you against any civil, labour or criminal cases you may find yourself
            facing.
            
        </p>

        <div>
            <div>
                <!-- Promo -->
                <div class="focus-box">
                    <h3>Key Benefits</h3>
                    <ul>
                        <li>You can receive between R99,000 and R200,000 per matter</li>
                        <li>There's no annual limit to your cover, as you are covered per case</li>
                        <li>Premiums start from as little as R99 per month</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div><!-- //Key benefits -->
                <!-- // Promo -->
            </div>
            <div class="button-group">
                <a data-role="button" data-bind="events: { click: legalInsuranceModel.callMeBack }">
                    Call me back<br/><span>Get a quote now</span>
                </a>
            </div>
        </div>
    </div>
</div>
