<div data-role="view" data-title="Funeral Insurance" data-layout="main" data-model="app.funeralInsurance" data-show="app.funeralInsurance.onShow" data-after-show="app.funeralInsurance.afterShow">
    <div class="contact-us">
        <h2>
            Funeral Insurance
        </h2>

        <p>Ease the financial pressure that accompanies death with funeral cover for
            yourself and your family. </p>

        <p>
            Hollard <strong>Funeral Insurance gives you the reassurance in a time that
                can be devastating and stressful.</strong> With this funeral cover plan, you'll
            be paid out in a lump sum within 48 hours for valid claims upon receipt of all
            required claims documents.
        </p>

        <p>
            <a data-bind="events: { click: funeralInsuranceModel.gotoLifeInsurance }" class="hyperLink">Increased benefits and get a lump sum pay-out that
                takes care of more than just funeral costs, find out more about life
                insurance
            </a>.
        </p>

        <div>
            <div align="center">
                <!-- Promo -->
                <div class="focus-box" >
                    <h3>Key Benefits</h3>
                    <ul>
                        <li>Funeral cover ranging from R10 000 to R50 000</li>
                        <li>Optional family funeral benefit that covers your partner and up to 5 children</li>
                        <li>Optional benefits such as Life cover, Monthly Provider or Memorial benefit</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div><!-- //Key benefits -->
                <!-- // Promo -->
            </div>
            <div class="button-group">
                <a data-role="button" data-bind="events: { click: funeralInsuranceModel.callMeBack }">Call me back<br/><span style="font-size: 8px">Get a quote now</span>
                </a>
            </div>
        </div>
    </div>
</div>