<div data-role="view" data-title="Policies" data-layout="main" data-model="app.policies" data-show="app.policies.onShow" data-after-show="app.policies.afterShow">
    <!-- START_CUSTOM_CODE_policies -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="form-view" style="outline: none">
        <ul class="form-content no-margin" data-role="listview" data-style="inset" style="outline: none">
            <center>
                <div class="button-group">
                    <a data-role="button" data-bind="events: { click: policiesModel.mailPolicy }">Mail</a>
                    <a data-role="button" data-bind="events: { click: policiesModel.viewPolicy }">Download</a>
                </div>
                <span>Please select an option to either download or to email your policy document</span>
            </center>
        </ul>
    </div>
    <br>
    <hr align="center" width="95%">
    <!-- END_CUSTOM_CODE_policies -->
</div>