<div data-elastic="true" data-role="view" data-title="Personal Details " data-layout="main" data-model="app.personalDetails" data-show="app.personalDetails.onShow" data-after-show="app.personalDetails.afterShow">
    <!-- START_CUSTOM_CODE_personalDetails -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <ul data-role="listview" data-style="inset" data-elastic="true" >
        <li class="detailsBack no-padding">
            <span class="bold">Personal Details</span>
            <hr>
            <center>
                <table>
                    <tr>
                        <td>
                            <span style="float:right;" class="bold">Full Name :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.fullName"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="float:right;" class="bold">Option :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.membershipDetails.membershipOption"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="float:right;" class="bold">Member Number :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.membershipDetails.memberNumber"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <span style="float:right;" class="bold">Status :</span>
                        </td>
                        <td style="width: 50%">
                            <span style="float:left;" data-bind="text: personalDetailsModel.membershipDetails.contractStatus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="float:right;" class="bold">Premium :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.membershipDetails.contractPremium"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="float:right;" class="bold">Join Date :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.membershipDetails.joinDate"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="float:right;" class="bold">Birth Date :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.personalDetails.dateOfBirth"></span>
                        </td>
                    </tr>
                </table>
            </center>
            <hr>
            <span class="bold">Address Information:
                <a style="float: right" data-role="button" data-bind="events: { click: personalDetailsModel.editAddress }" data-icon="compose" class="editButton"></a></span>
            <hr>
            <center>
                <table>
                    <tr>
                        <td>
                            <span style="float:right;" class="bold">Address Line 1 :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.personalDetails.addressLine1"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="float:right;" class="bold">Address Line 2 :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.personalDetails.addressLine2"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="float:right;" class="bold">Address Line 3 :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.personalDetails.addressLine3"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="float:right;" class="bold">Address Line 4 :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.personalDetails.addressLine4"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="float:right;" class="bold">Address Line 5 :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.personalDetails.addressLine5"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <span style="float:right;" class="bold">Postal Code :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.personalDetails.postCode"></span>
                        </td>
                    </tr>
                </table>
            </center>
            <hr>
            <span class="bold">Contact Information:
                <a style="float: right" data-role="button" data-bind="events: { click: personalDetailsModel.editContact }" data-icon="compose" class="editButton"></a></span>
            <hr>
            <center>
                <table>
                    <tr>
                        <td>
                            <span style="float:right;" class="bold">Tel No :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.personalDetails.contactDetails[0].contactDetail"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="float:right;" class="bold">Cel No :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.personalDetails.contactDetails[2].contactDetail"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <span style="float:right;" class="bold">E-mail :</span>
                        </td>
                        <td>
                            <span style="float:left;" data-bind="text: personalDetailsModel.personalDetails.contactDetails[1].contactDetail"></span>
                        </td>
                    </tr>
                </table>
            </center>
        </li>
    </ul>
</div>