<div data-role="view" data-title="Login" data-layout="main-nonav" data-model="app.login" data-show="app.login.onShow" data-after-show="app.login.afterShow">
    <div id="loginModel" class="form-view">
        <form>
            <div style="padding:0px; margin:0px">
                <center>
                    <img src="data/images/homeScreen/miplife_home_screen.png" height="auto" width="95%" style="margin: 0px;">
                </center>
            </div>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <label class="km-label-above"> 
                        <span>AGENT CODE</span> 
                        <input data-bind="value: loginModel.fields.usercode" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>PASSWORD</span>
                        <input data-bind="value: loginModel.fields.password" placeholder="********" type="password">
                    </label>
                </li>
            </ul>
            <div class="button-group">
                <a data-role="button" data-bind="events: { click: loginModel.cancel }">Cancel</a>
                <a data-role="button" data-bind="events: { click: loginModel.submit }">Confirm</a>
            </div>
        </form>
    </div>
    <!-- START_CUSTOM_CODE_login -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_login -->
</div>