<div data-role="view" data-title="Claims" data-layout="rotatable" data-model="app.claims" data-show="app.claims.onShow" data-after-show="app.claims.afterShow">
    <!-- START_CUSTOM_CODE_claims -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <form>
        <div>
            <ul data-role="listview" data-style="inset" style="font-size: 12px">
                <li class="detailsBack"> 
                    <table style="width: 100%;" id="claimsList" cellspacing="0px">
                    </table>
                </li>
            </ul>
        </div>
    </form>
     <!-- END_CUSTOM_CODE_claims -->
</div>