<div data-role="view" data-title="Household Insurance" data-layout="main" data-model="app.householdInsurance" data-show="app.householdInsurance.onShow" data-after-show="app.householdInsurance.afterShow">
    <div class="contact-us">
        <h2>
            Household Insurance
        </h2>

        <p>Insure all the valuable items in your home with our comprehensive household
            insurance.</p>

        <p>From flat screen TVs to gramophones, from Persian rugs to figurine
            collections – it’s all valuable and costs money to replace. Remember to value
            your goods at their new replacement value so that we can replace the old with
            the new.</p>

        <p>
            <strong>Protect what's precious to you with household insurance
                cover</strong> from Hollard.
        </p>

        <div>
            <div>
                <!-- Promo -->
                <div class="focus-box">
                    <h3>Key Benefits</h3>
                    <ul>
                        <li>If you've taken precautions to secure your possessions, such as alarms and other security features, you should be rewarded with a lower premium</li>
                        <li>Your cover amount is increased automatically on the anniversary date of the policy, by inflation and a linked percentage. This ensures that contents are not under-insured</li>
                        <li>The contents insurance package covers damage to your household contents whether caused by theft or an act of nature (lightning, floods, snow or fire).</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div><!-- //Key benefits -->
                <!-- // Promo -->
            </div>
            <div class="button-group">
                <a data-role="button" data-bind="events: { click: householdInsuranceModel.callMeBack }">
                    Call me back<br/><span>Get a quote now</span>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
