<div data-role="view" data-title="" data-reload="true" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <script>
        jQuery(document).ready(function($) {

            $('.transition').first().addClass('active');
            $('.transition').hide();
            $('.active').show();

            function transition() {

                $('.active').removeClass('active').addClass('oldActive');
                if ($('.oldActive').is(':last-child')) {
                    $('.transition').first().addClass('active');
                } else {
                    $('.oldActive').next().addClass('active');
                }
                $('.oldActive').removeClass('oldActive');
                $('.transition').fadeOut(1200);
                $('.active').fadeIn(1200);
            }

            setInterval(function() {
                transition();
            }, 6000);
        });
    </script>

    <div>
        <div id="homeModel" class="form-view" style="font-size: 16px">
            <div id="slider-wrapper">
                <div id="slider">
                    <center>
                        <div class="transition"><img src="data/images/homeScreen/mip1.png" height="" width="100%" style="margin: 0px 0px 0px 0px; height: 200px">
                        </div>
                        <div class="transition"><img src="data/images/homeScreen/mip2.png" height="" width="100%" style="margin:  0px 0px 0px 0px; height: 200px">
                        </div>
                        <div class="transition"><img src="data/images/homeScreen/mip3.png" height="" width="100%" style="margin: 0px 0px 0px 0px; height: 200px">
                        </div>
                        <div class="transition"><img src="data/images/homeScreen/mip4.png" height="" width="100%" style="margin: 0px 0px 0px 0px; height: 200px">
                        </div>
                        <div class="transition"><img src="data/images/homeScreen/mip5.png" height="" width="100%" style="margin: 0px 0px 0px 0px; height: 200px">
                        </div>
                    </center>
                </div>
            </div>
            <ul data-role="listview" class="form-content" id="root">

                <li class='form-content-item' style="border-top: none;">
                    <a data-bind="events: { click: homeModel.viewGetAQuote }">
                        <img src="data/images/icon/getQuoteIcon.png" width="35" height="35">
                        <span style="vertical-align: super"> Get A Quote</span>
                    </a>
                </li>
                <li class='form-content-item'>
                    <a data-bind="events: { click: homeModel.viewCovisionApplication }">
                        <img src="data/images/icon/inAppIcon.png" width="35" height="35">
                        <span style="vertical-align: super"> MIP Application inApp</span>
                    </a>
                </li>
                <li class='form-content-item'>
                    <a data-bind="events: { click: homeModel.viewCovisionApplicationUpload }">
                        <img src="data/images/icon/uploadAppIcon.png" width="35" height="35">
                        <span style="vertical-align: super"> MIP Application Upload</span>
                    </a>
                </li>
                <li id="productsView" class="parentLi_pbl form-content-item">
                    <a>
                        <img src="data/images/icon/productsServicesIcon.png" width="35" height="35">
                        <span style="vertical-align: super"> Products and Services </span>
                    </a>
                    <ul data-role="listview" data-style="inset" data-corners="true" class="childLi_pbl">
                        <li class="form-content-item" style="border-top: none; border-bottom: none">
                            <a data-bind="events: { click: homeModel.viewFuneralInsurance }">
                                <span style="vertical-align: super"> Funeral Insurance</span>
                            </a>
                        </li>
                    </ul>
                </li>
<!--                 <li id="contactUsView" class='form-content-item'>
                    <a data-bind="events: { click: homeModel.viewContactUs }">
                        <i></i> <img src="data/images/icon/contactIcon.png" width="35" height="35">
                        <span style="vertical-align: super"> Contact Us</span>
                    </a>
                </li> -->
            </ul>
            <script>
                //collapsible menuItems(unordered list)
                $('.childLi_pbl').hide();
                $('.parentLi_pbl').click(function() {
                    $(this).siblings('.parentLi_pbl').find('ul').slideUp();
                    $(this).find('ul').slideToggle();
                });
            </script>
        </div>
        <!-- END_CUSTOM_CODE_home -->
    </div>
</div>