<div data-role="view" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div style="padding:0px; margin:0px">
        <img src="data/images/homeScreen/hollard_home_screen.png" height="auto" width="100%" style="margin: 0px;">
    </div>
    <div id="homeModel" class="form-view" style="font-size: 18px">
        <form>
            <ul data-role="listview" id="root">
                <li id="loginView" class='listItem'>
                    <a data-bind="events: { click: homeModel.viewLogin }">
                        <img src="data/images/icon/login.png" width="35" height="35">
                        <span style="vertical-align: super"> Login</span>
                    </a>
                </li>
                <li class='listItem'>
                    <a data-bind="events: { click: homeModel.viewGetAQuote }">
                        <img src="data/images/icon/documents.png" width="35" height="35">
                        <span style="vertical-align: super"> Get A Quote</span>
                    </a>
                </li>
                <li class='listItem'>
                    <a data-bind="events: { click: homeModel.viewCovisionApplication }">
                        <img src="data/images/icon/documents.png" width="35" height="35">
                        <span style="vertical-align: super"> Covision Application inApp</span>
                    </a>
                </li>
                <li class='listItem'>
                    <a data-bind="events: { click: homeModel.viewCovisionApplicationUpload }">
                        <img src="data/images/icon/documents.png" width="35" height="35">
                        <span style="vertical-align: super"> Covision Application Upload</span>
                    </a>
                </li>
                <li id="membershipCardView" class='listItem'>
                    <a data-bind="events: { click: homeModel.viewMembershipDetails }">
                        <img src="data/images/icon/membership_card.png" width="35" height="35">
                        <span style="vertical-align: super"> Membership Card</span>
                    </a>
                </li>
                <li id="personalDetailsView" class='listItem'>
                    <a data-bind="events: { click: homeModel.viewPersonalDetails }">
                        <img src="data/images/icon/memberdetails.png" width="35" height="35">
                        <span style="vertical-align: super"> Personal Details</span>
                    </a>
                </li>
                <li id="claimsView" class='listItem'>
                    <a data-bind="events: { click: homeModel.viewClaims }">
                        <img src="data/images/icon/claims.png" width="35" height="35">
                        <span style="vertical-align: super"> Claims</span>
                    </a>
                </li>
                <li id="policiesView" class='listItem'>
                    <a data-bind="events: { click: homeModel.viewPolicies }">
                        <img src="data/images/icon/policies.png" width="35" height="35">
                        <span style="vertical-align: super"> Policies</span>
                    </a>
                </li>
                <li id="productsView" class="parentLi_pvt listItem">
                    <a>
                        <img src="data/images/icon/products.png" width="35" height="35">
                        <span style="vertical-align: super"> Products and Services </span>
                    </a>
                    <ul data-role="listview" data-shadow="true" data-corners="true" class="childLi_pvt">
                        <li class="listItem" style="border-top: 0px;">
                            <a data-bind="events: { click: homeModel.viewFuneralInsurance }">
                                <span style="vertical-align: super"> Funeral Insurance</span>
                            </a>
                        </li>
                        <li class="listItem">
                            <a data-bind="events: { click: homeModel.viewLifeInsurance }">
                                <span style="vertical-align: super"> Life Insurance</span>
                            </a>
                        </li>
                        <li class="listItem" style="border-bottom: 0px;">
                            <a data-bind="events: { click: homeModel.viewCarInsurance }">
                                <span style="vertical-align: super"> Car Insurance</span>
                            </a>
                        </li>
                        <li class="listItem" style="border-top: 0px;">
                            <a data-bind="events: { click: homeModel.viewExtendedCarWarranty }">
                                <span style="vertical-align: super"> Extended Car Warranty</span>
                            </a>
                        </li>
                        <li class="listItem">
                            <a data-bind="events: { click: homeModel.viewHouseholdInsurance }">
                                <span style="vertical-align: super"> Household Insurance</span>
                            </a>
                        </li>
                        <li class="listItem" style="border-bottom: 0px;">
                            <a data-bind="events: { click: homeModel.viewLegalInsurance }">
                                <span style="vertical-align: super"> Legal Insurance</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="contactUsView" class='listItem'>
                    <a data-bind="events: { click: homeModel.viewContactUs }">
                        <img src="data/images/icon/contact.png" width="35" height="35">
                        <span style="vertical-align: super"> Contact Us</span>
                    </a>
                </li>
                <li class='listItem'>
                    <a data-bind="events: { click: homeModel.viewLogout }">
                        <img src="data/images/icon/logout.png" width="35" height="35">
                        <span style="vertical-align: super"> Logout</span>
                    </a>
                </li>
            </ul>
            <script>
                //collapsible menuItems(unordered list)
                $('.childLi_pvt').hide();
                $('.parentLi_pvt').click(function () {
                    $(this).siblings('.parentLi_pvt').find('ul').slideUp();
                    $(this).find('ul').slideToggle();
                });

                if (localStorage.getItem("mnt:sessionid") !== "") {
                    localStorage.setItem("appEnvironment", "Private");
                } else {
                    localStorage.setItem("appEnvironment", "Public");
                } // else
            </script>
        </form>
    </div>
    <!-- END_CUSTOM_CODE_home -->
</div>