<div data-role="view" data-title="MIP Life Application" data-layout="main" data-model="app.covisionApplicationUpload" data-show="app.covisionApplicationUpload.onShow" data-after-show="app.covisionApplicationUpload.afterShow">
    <!-- START_CUSTOM_CODE_policies -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->


    <div class="form-view" style="outline: none">
        <ul class="form-content no-margin" data-role="listview" data-style="inset" style="outline: none">
            <li class="form-content-item">
                <label class="km-label-above"> 
                    <span>First Name</span>
                    <input data-bind="value: covisionApplicationUploadModel.fields.firstName" type="text" required validationMessage="Please enter your first name">
                </label>
            </li>
            <li class="form-content-item">
                <label class="km-label-above"> 
                    <span>Last Name</span>
                    <input data-bind="value: covisionApplicationUploadModel.fields.lastName" type="text" required validationMessage="Please enter your last name">
                </label>
            </li>
            <li class="form-content-item">
                <label class="km-label-above"> 
                    <span>ID Number</span>
                    <input data-bind="value: covisionApplicationUploadModel.fields.IDNumber" type="number" required validationMessage="Please enter your 13-digit ID Number">
                </label>
            </li>
            <li class="form-content-item">
                <label class="km-label-above"> 
                    <span>Email Address</span>
                    <input data-bind="value: covisionApplicationUploadModel.fields.email" type="email" required validationMessage="Please enter your email address">
                </label>
            </li>
            <li class="form-content-item">
                <label class="km-label-above"> 
                    <span>Cell Number</span>
                    <input data-bind="value: covisionApplicationUploadModel.fields.cellNumber" type="tel" required validationMessage="Please enter your cellphone number">
                </label>
            </li>
        </ul>
        <center>
            <div class="button-group">
                <a data-role="button" data-bind="events: { click: covisionApplicationUploadModel.uploadForm }">Upload Form</a>
                <a data-role="button" data-bind="events: { click: covisionApplicationUploadModel.uploadIDDoc }">Upload ID Document</a>
            </div>
            <div class="button-group">
                <a data-role="button" data-bind="events: { click: covisionApplicationUploadModel.submitForm }">Submit Application</a>
            </div>
        </center>


    </div>
    <!-- END_CUSTOM_CODE_policies -->
</div>