<div data-role="view" data-title="Quote" data-layout="main-nonav" data-model="app.quote" data-show="app.covisionApplicationUpload.onShow" data-after-show="app.covisionApplicationUpload.afterShow">

    <ul data-role="listview" data-style="inset">
        <li>
            <center>
                <span style="font-size: large;">Premium: <span data-bind="text: covisionApplicationUploadModel.quote.cPolicyPrice"></span></span>
                <br>
                <span>Sum Assured: <span data-bind="text: covisionApplicationUploadModel.quote.cSumAss"></span></span>
            </center>
        </li>
        <li>
            <div id="sign2"></div>
        </li>
    </ul>
    <div class="button-group">
        <a data-role="button" data-bind="events: { click: covisionApplicationUploadModel.acceptQuote }">Accept</a>
    </div>
    <div class="button-group">
        <a data-role="button" data-bind="events: { click: covisionApplicationUploadModel.declineQuote }">Decline</a>
    </div>
   
</div>