<div data-role="view" data-title="Covision Application" data-layout="main" data-model="app.covisionApplication" data-show="app.covisionApplication.onShow" data-after-show="app.covisionApplication.afterShow">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div id="validate5" class="form-view notice-box">
        <form>
            <h3>Add Person</h3>
            <div>
                <label class="km-label-above align_with_rest">
                    <span>PERSON TYPE</span>
                    <br>
                </label>
                <center>
                    <input id="personTypeData" name="Person Type" onchange="onchangeType" type="text" style="width: 94%; margin: 5px 0 5px 0; text-align:left" required validationMessage="Please select a title" data-bind="value: covisionApplicationModel.fields.insuredPersonType" />
                </center>
            </div>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>NAME</span>
                        <input name="Insured Name" type="text" required validationMessage="Enter insured person first name" data-bind="value: covisionApplicationModel.fields.insuredName">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>SURNAME</span>
                        <input name="Insured Surname" type="text" required validationMessage="Enter insured person last name" data-bind="value: covisionApplicationModel.fields.insuredSurname">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>ID NUMBER</span>
                        <input name="Insured ID Number" type="number" pattern="\d{13}" required validationMessage="Enter Enter insured person 13-digit ID number" data-bind="value: covisionApplicationModel.fields.insuredIDNumber">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>AGE</span>
                        <input name="Insured Age" type="number" required validationMessage="Enter insured person age" data-bind="value: covisionApplicationModel.fields.insuredAge">
                    </label>
                </li>
            </ul>
            <div>
                <label class="km-label-above align_with_rest">
                    <span style="vertical-align: top;">GENDER</span>
                    <br>
                </label>
                <center>
                    <input id="genderData" name="Insured Gender" style="width: 94%; margin: 5px 0 5px 0; text-align:left" required validationMessage="Please select a title" data-bind="value: covisionApplicationModel.fields.insuredGender">
                </center>
            </div>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>BENEFIT AMOUNT</span>
                        <input name="Insured Benefit Amount" type="text" required validationMessage="Enter insured benefit amount" data-bind="value: covisionApplicationModel.fields.insuredBenefitAmount">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>PREMIUM</span>
                        <input name="Insured Premium" type="tel" pattern="\d{4}" required validationMessage="Enter insured premium" data-bind="value: covisionApplicationModel.fields.insuredPremium">
                    </label>
                </li>
            </ul>
        </form>
        <script>
        var validator = $("#validate5").kendoValidator().data("kendoValidator"),
            status = $(".status");
        </script>
        <div class="button-group">
            <a data-role="backbutton">Previous</a>
            <a data-role="button" data-bind="events: { click: covisionApplicationModel.addPerson }">Submit</a>
        </div>
    </div>
    <!-- END_CUSTOM_CODE_covisionApplication -->
    <script>
    var oPerson = [{
        personCode: "ChildHello",
        benefitType: "1) Family Funeral Benefit",
        id: "1"
    }, {
        personCode: "Parent",
        benefitType: "1) Family Funeral Benefit",
        id: "1"
    }, {
        personCode: "Child",
        benefitType: "2) Large Family Funeral Benefit",
        id: "2"
    }, {
        personCode: "Your Father",
        benefitType: "3) Parent Funeral Benefit",
        id: "3"
    }, {
        personCode: "Partner's Father",
        benefitType: "3) Parent Funeral Benefit",
        id: "3"
    }, {
        personCode: "Your Mother",
        benefitType: "3) Parent Funeral Benefit",
        id: "3"
    }, {
        personCode: "Partner's Mother",
        benefitType: "3) Parent Funeral Benefit",
        id: "3"
    }, {
        personCode: "Aunt",
        benefitType: "4) Extended Family Funeral Benefit",
        id: "4"
    }, {
        personCode: "Uncle",
        benefitType: "4) Extended Family Funeral Benefit",
        id: "4"
    }, {
        personCode: "Brother",
        benefitType: "4) Extended Family Funeral Benefit",
        id: "4"
    }, {
        personCode: "Sister",
        benefitType: "Extended Family Funeral Benefit",
        id: "4"
    }, {
        personCode: "Niece",
        benefitType: "4) Extended Family Funeral Benefit",
        id: "4"
    }, {
        personCode: "Nephew",
        benefitType: "4) Extended Family Funeral Benefit",
        id: "4"
    }, {
        personCode: "Adult Child",
        benefitType: "4) Extended Family Funeral Benefit",
        id: "4"
    }];
    console.log(oPerson);
    var datasource = new kendo.data.DataSource({
        data: [oPerson]
    });

    console.log(datasource.data());
    datasource.add({
        insuredPerson: [{
            personCode: "Working",
            benefitType: "work?"
        }]
    });
    console.log(datasource);
    $("#personTypeData").kendoDropDownList({
        dataSource: {
            data: ["Partner", "Parent", "Child"]
        },
        optionLabel: "Select Type...",
        select: function(e) {
            var item = e.item;
            var text = e.item.text();
            console.log(e.item);
            console.log(dropdownlist);
            var dropdownlist = $("#personTypeData").data("kendoDropDownList");
            // get the dataItem corresponding to the selectedIndex.
            var dataItem = dropdownlist.dataItem();
            console.log(dataItem);
        }
    });
    var dropdownlist = $("#personTypeData").data("kendoDropDownList");
        dropdownlist.value("child");
         dropdownlist.trigger("change");
    function onchangeType() {
        dropdownlist.trigger("change");
        console.log(dropdownlist.value);
    }


    var genderData = ["Male", "Female"];

    $("#genderData").kendoDropDownList({
        dataSource: genderData,
        optionLabel: "Select a gender..."
    });
    </script>
</div>
