<div id="step_5_summary" data-role="view" data-title="Covision Application" data-layout="rotatable" data-model="app.covisionApplication" data-show="app.covisionApplication.onShowSummary" data-after-show="app.covisionApplication.afterShowSummary">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <ul data-role="listview" data-style="inset" style="font-size: 12px">
        <div>
            <form id="validate6" class="form-view notice-box">
                <ul class="form-list" data-style="inset" id="toSpanify">
                    <li class="detailsBack" data-elastic="true">
                        <p>
                        <b>Main Insured Information</b>
                        <hr>
                        <b>Full Name</b>
                        <br><span data-bind="text: covisionApplicationModel.fields.firstNames"></span> <span data-bind="text: covisionApplicationModel.fields.lastName"></span>
                        <br>
                        <br>
                        <b>ID Number</b>
                        <br><span data-bind="text: covisionApplicationModel.fields.idNumber"></span>
                        <br>
                        <br>
                        <b>Phone Number</b>
                        <br><span data-bind="text: covisionApplicationModel.fields.cellNumber"></span>
                        <br>
                        <br>
                        <b>Premium</b>
                        <br><span data-bind="text: covisionApplicationModel.fields.premium"></span>
                        <br>
                        <br>
                        <b>Benefit Amount</b>
                        <br><span data-bind="text: covisionApplicationModel.fields.benefitAmount"></span>
                        <br>
                        <br>
                    </li>
                    <li class="detailsBack">
                        <table style="width: 100%;" id="personList" cellspacing="0px">
                        </table>
                    </li>
                    <li>
                    </li>
                </ul>
            </form>
            <script>
                var validator = $("#validate6").kendoValidator().data("kendoValidator"),
                    status = $(".status");
            </script>
            <hr>
            <div class="contact-us">
                <p>
                    Are you taking out this policy in place of an old one that you have cancelled in the last 4 months,or that you will cancel in the next 4 months?
                </p>
                <div class="application-focus-box">
                    <ul>
                        <br>
                        <p style="font-size: 12px">
                            If you answered <strong>yes</strong> and have decided to take out a new policy in place of an old one, then you must think of the following:
                        </p>
                        <li>you may pay some charges and fees twice, first on the existing policy and once again on the new policy.</li>
                        <li>you may pay a higher premium on the new policy because you are older now or your health might have changed.</li>
                        <li>there might be differences in premium and benefit increases.</li>
                        <li>your new policy may have more exclusions, restrictions or waiting periods. This means that the new policy may not always pay out claims when the old policy did.</li>
                        <p>
                            There may be other things to think about which might change your decision to replace your old policy. Because this is a non-advice sale, we cannot offer you advice about replacement. If you need advice, please contact your financial advisor.
                        </p>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <!-- everything from here on will be hidden until the user fills and submits the the form above -->
                <div class="form-view" id="add_person_form">
                    <div class="button-group">
                        <a data-role="backbutton">Previous</a>
                        <a data-role="button" onclick="window.app.mobileApp.navigate('components/covisionApplication/step_6.html', 'slide')">Confirm</a>
                    </div>
                </div>
            </div>
            <!-- END_CUSTOM_CODE_covisionApplication -->
        </div>
    </ul>
</div>