<div data-role="view" data-title="Covision Application" data-layout="main" data-model="app.covisionApplication" data-show="app.covisionApplication.onShowAddPerson" data-after-show="app.covisionApplication.afterShowAddPerson">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- ADD CHILD FORM VIEW  -->
    <div id="validate_child" class="form-view notice-box">
        <form>
            <h3>Add Partner</h3>
            <ul id="add_partner_form" class="form-content" data-role="listview" data-style="inset">
            </ul>
            <hr width="95%">
            <!--<h3>Add Parent</h3>
            <ul id="add_parent_form" class="form-content" data-role="listview" data-style="inset">
            </ul>
            <hr>
            <h3>Add Child</h3>
            <h5>The BENEFIT AMOUNT for children is the smaller amount of:
                <br>50% of the Family Funeral Benefit Amount and R20 000.
            </h5>
            <ul id="add_child_form" class="form-content" data-role="listview" data-style="inset">
            </ul>
            <hr>
            <h3>Add Extended Family Member</h3>
            <ul id="add_extended_family_member_form" class="form-content" data-role="listview" data-style="inset">
            </ul> -->
        </form>
        <script>
        var validator = $("#validate_child").kendoValidator().data("kendoValidator"),
            status = $(".status");
        </script>
        <div class="button-group">
            <a data-role="backbutton"> Previous</a>
            <a data-role="button" data-bind="events: { click: covisionApplicationModel.addPerson }">Submit</a>
        </div>
    </div>
    <!-- END_CUSTOM_CODE_covisionApplication -->
</div>
