<div id="step_5_summary" data-role="view" data-title="Covision Application" data-layout="rotatable" data-model="app.covisionApplication" data-show="app.covisionApplication.onShowSummary" data-after-show="app.covisionApplication.afterShowSummary">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <ul data-role="listview" data-style="inset" style="font-size: 12px">
        <div>
            <div class="contact-us">
                <h3>Application Summary</h3>
                <ul data-role="listview">
                    <li>
                        <input id="old_policy" type="checkbox" class="k-checkbox">
                        <label for="old_policy" style="font-size: 12px;" class="k-checkbox-label">
                            Have you canceled any policy in the past four months or will you be canceling any other policy within the next four months to take this policy?
                        </label>
                    </li>
                </ul>
                <div class="application-focus-box">
                    <ul>
                        <br>
                        <p style="font-size: 12px">
                            If yes, The replacement of an existing policy may have the following consequences:
                        </p>
                        <li>You may pay some charges and fees twice – first on the existing policy and once again on the new policy.</li>
                        <li>You may pay a higher premium on the new policy because you are older now or your health situation might have changed.</li>
                        <li>There might be differences in premium and benefit increases.</li>
                        <li>Your new policy may have more exclusions, restrictions or waiting periods. This means the new policy may sometimes not pay claims when the old policy did.</li>
                        <p>
                            There may be other things to think about which might change your decision to replace your old policy. Because this is non-advice sale, we cannot offer you advice about the replacement. If you need advice, please contact your financial advisor.
                        </p>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <form id="validate6" class="form-view notice-box">
                <ul class="form-list" data-style="inset" id="toSpanify">
                    <li class="detailsBack" data-elastic="true">
                        <p>
                            <b>Main Insured Information</b>
                            <hr>
                            <b>Full Name</b>
                            <br><span data-bind="text: covisionApplicationModel.mainMember.firstNames"></span> <span data-bind="text: covisionApplicationModel.mainMember.lastName"></span>
                            <br>
                            <br>
                            <b>ID Number</b>
                            <br><span data-bind="text: covisionApplicationModel.mainMember.idNumber"></span>
                            <br>
                            <br>
                            <b>Phone Number</b>
                            <br><span data-bind="text: covisionApplicationModel.mainMember.cellNumber"></span>
<!--                             <br>
                            <br>
                            <b>Benefit Amount</b>
                            <br><span data-bind="text: covisionApplicationModel.mainMember..benefitAmount"></span>
                            <br>
                            <br> -->
                    </li>
                    <li class="detailsBack">
                        <table style="width: 100%;" cellspacing="0px">
                            <thead id='theader-dependent-list'>
                                <tr>
                                    <td class=''>Name </td>
                                    <td class=''>ID No</td>
                                    <td class=''>Benefit Amount</td>
                                    <td class='hideThis'>Birthdate</td>
                                    <td class='hideThis'>Gender</td>
                                </tr>
                            </thead>
                            <br>
                            <hr>
                            <tbody id="tbody-dependent-list">
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <script type="text/x-kendo-tmpl" id="dependent-list-template">
                        <tr>
                            <td class=''>#= firstNames # #= lastName #</td>
                            <td class=''>#= idNumber #</td>
                            <td class=''>#= coveredBenefits[0].benefitAmount #</td>
                            <td class='hideThis'>#= dateOfBirth #</td>
                            <td class='hideThis'>#= gender #</td>
                        </tr>
                        
                    </script>
                </ul>
                <div class="button-group">
                    <a data-role="backbutton">Previous</a>
                    <a data-role="button" onclick="window.app.mobileApp.navigate('components/covisionApplication/step_6.html', 'slide')">Confirm</a>
                </div>
            </form>
            <script>
                var validator = $("#validate6").kendoValidator().data("kendoValidator"),
                    status = $(".status");
            </script>
            <hr>
            <!-- END_CUSTOM_CODE_covisionApplication -->
        </div>
    </ul>
</div>