<div data-role="view" data-title="Covision Application" data-layout="main" data-model="app.covisionApplication" data-show="app.covisionApplication.onShowAddPerson" data-after-show="app.covisionApplication.afterShow">
    <!-- START_CUSTOM_CODE_covisionApplication -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- ADD CHILD FORM VIEW  -->
    <div id="dependent-member-form" class="form-view notice-box">
        <form>
            <ul class="form-content" data-role="listview">
                <li class="form-content-item">
                    <span>
                        <h3>
                        FAMILY FUNERAL COVER
                            <h5>
                            This amount will cover a spouse and up to 5 children.           	
                            </h5>
                        </h3>
                        
                    </span>
                    <label for="family_benefit_amount" class="km-label-above">                        
                        <select name="family benefit amount" id="family_benefit_amount" onchange="onchangeCover()" data-native-menu="true">
                            <option value="" data-placeholder="true">Please Select Cover Amount</option> 
                            <option value="50000">R 50 000</option>
                            <option value="45000">R 45 000</option>
                            <option value="40000">R 40 000</option>
                            <option value="35000">R 35 000</option> 
                            <option value="30000">R 30 000</option>
                            <option value="25000">R 25 000</option>
                            <option value="20000">R 20 000</option>
                            <option value="15000">R 15 000</option>
                            <option value="10000">R 10 000</option>
                            <option value="5000">R 5 000</option>
                        </select>
                    </label>
                </li>
            </ul>
            <script>
                function onchangeCover(e) {
                    if ($('#family_benefit_amount').val() !== '') {
                        console.log($('#family_benefit_amount').val())
                    }
                }
            </script>
            <h3>Add Partner</h3>
            <ul id="add_partner_form" class="form-content" data-role="listview">
            </ul>
            <div class="button-group">
                <a id="add_partner_button" data-role="button" data-bind="events: { click: covisionApplicationModel.addPartnerFields">Add Partner</a>
            </div>
        </form>
        <form>
            <h3>Add Child</h3>
            <h5>
                The BENEFIT AMOUNT for children is the smaller amount of:
            <br>50% of the Family Funeral Benefit Amount and R20 000.
            </h5>
            <ul id="add_child_form" class="form-content" data-role="listview">
            </ul>
            <div class="button-group">
                <a id="add_child_button" data-role="button" data-bind="events: { click: covisionApplicationModel.addChildFields }">Add Child</a>
            </div>
        </form>
        <form>
            <h3>Add Parent</h3>
            <ul id="add_parent_form" class="form-content" data-role="listview">
            </ul>
            <div class="button-group">
                <a id="add_parent_button" data-role="button" data-bind="events: { click: covisionApplicationModel.addParentFields }">Add Parent</a>
            </div>
        </form>
        <form>
            <h3>Add Extended Family Member</h3>
            <ul id="add_extended_family_member_form" class="form-content" data-role="listview">
            </ul>
            <div class="button-group">
                <a id="add_extended_family_member_button" data-role="button" data-bind="events: { click: covisionApplicationModel.addExtendedMemberFields }">Add Extended Member</a>
            </div>
        </form>
        <script>
			var dependendentMemberValidtion = $("#dependent-member-form").kendoValidator().data("kendoValidator"),
			    status = $(".status");
        </script>
        <div class="button-group">
            <a data-role="backbutton"> Previous</a>
            <a data-role="button" data-bind="events: { click: covisionApplicationModel.addDependantDetails }">Submit</a>
        </div>
    </div>
    <!-- END_CUSTOM_CODE_covisionApplication -->
</div>