<div data-role="view" data-title="Dashboard" data-layout="main" data-model="app.dashboard" data-show="app.dashboard.onShow" data-after-show="app.dashboard.afterShow">
    <div id="dashboardModel">        
        <div id="chart" ></div>
    </div>
</div>